# ğŸ“Œ ASOS, AWS(ê¸°ì˜¨,ê°•ìˆ˜,ë°”ëŒ,ìŠµë„,ê¸°ì••) ë°ì´í„° ì „ì²˜ë¦¬

In [340]:
import pandas as pd

### 1.ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

In [341]:
forder_path = "../weather_data/"
file_list = ["asos_data_fin.csv","temperature_data_fin.csv","rainfall_data_fin.csv",
             "wind_data_fin.csv","humidity_data_fin.csv","ap_data_fin.csv"]
df_fin = pd.DataFrame()

for i, file in enumerate(file_list):
    df = pd.read_csv(forder_path+file, index_col=0)

    if i == 0:
        df_fin = pd.concat([df_fin,df], axis=1)
    elif (i != 0) & (i == 2):
        df_fin = pd.concat([df_fin,df.iloc[:,2:]], axis=1)
    elif (i != 0) & (i != 2):
        df_fin = pd.concat([df_fin,df.iloc[:,3:]], axis=1)

### 2.ê¸°ì˜¨ ë°ì´í„° ê²°ì¸¡ì¹˜ ì±„ìš°ê¸°

#### 2.1 ê¸°ì˜¨ ê´€ë ¨ ì»¬ëŸ¼ ì¶”ì¶œ

In [342]:
temp_cols = [cols for cols in df_fin.columns if ("temperature" in cols.lower())]
temp_cols.insert(0, 'Datetime')

In [343]:
df_fin[temp_cols].head()

,Datetime,Temperature(Â°C),Dew point Temperature(Â°C),108_Observed temperature(Â°C),108_Average temperature per minute(Â°C),108_Highest temperature per minute(Â°C),108_Lowest temperature per minute(Â°C),112_Observed temperature(Â°C),112_Average temperature per minute(Â°C),112_Highest temperature per minute(Â°C),112_Lowest temperature per minute(Â°C),119_Observed temperature(Â°C),119_Average temperature per minute(Â°C),119_Highest temperature per minute(Â°C),119_Lowest temperature per minute(Â°C)
0,2018-01-01 00:00:00,-3.2,-14.9,-3.2,-2.9,-2.6,-3.2,-1.4,-1.3,-1.1,-1.5,-1.8,-1.7,-1.5,-2.1
1,2018-01-01 01:00:00,-3.3,-14.7,-3.3,-3.3,-3.2,-3.5,-1.6,-1.4,-1.4,-1.6,-2.6,-2.0,-1.6,-2.6
2,2018-01-01 02:00:00,-3.7,-14.7,-3.7,-3.4,-3.2,-3.7,-1.9,-1.6,-1.6,-1.9,-3.0,-2.7,-2.6,-3.0
3,2018-01-01 03:00:00,-4.0,-14.4,-4.0,-3.8,-3.8,-4.0,-1.8,-2.0,-1.8,-2.2,-4.2,-3.5,-3.0,-4.2
4,2018-01-01 04:00:00,-4.2,-12.3,-4.2,-4.0,-3.9,-4.3,-2.0,-1.9,-1.8,-2.0,-5.3,-4.7,-4.2,-5.4

#### 2.2 "Temperature" ì»¬ëŸ¼ì— ê²°ì¸¡ì¹˜ -9 ë˜ëŠ” -99 í–‰ í™•ì¸í•˜ê¸°

In [344]:
# ê²°ì¸¡ì¹˜ì˜ ê°’ìœ¼ë¡œ -9, -99ì˜ ê°’ì„ ê°€ì§€ëŠ” í–‰ ë²ˆí˜¸ë¥¼ ê°€ì§€ëŠ” ë³€ìˆ˜ ìƒì„±
missing_index = df_fin[(df_fin["Temperature(Â°C)"] == -9) | (df_fin["Temperature(Â°C)"] == -99)][temp_cols].index
# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 38ê°œ ì…ë‹ˆë‹¤.

In [345]:
for index in missing_index:
    # "Temperature(Â°C)" ì»¬ëŸ¼ì— ê²°ì¸¡ê°’ì´ ìˆì„ ê²½ìš°, ì§€ì ë²ˆí˜¸(108)ì¸ ì„œìš¸ ê°’ê³¼ (112)ì¸ ì¸ì²œ ê°’ê³¼ (119)ì¸ ìˆ˜ì› ê°’ì˜ í‰ê· ì„ ì‚¬ìš©
    # ì¸ì²œ ê°’ì´ ê²°ì¸¡ê°’ì¼ ê²½ìš°, ì§€ì ë²ˆí˜¸(119) ìˆ˜ì› ê°’ì„ ì‚¬ìš©
    if (df_fin.at[index, "108_Observed temperature(Â°C)"] not in [-9, -99]) & (df_fin.at[index, "112_Observed temperature(Â°C)"] not in [-9, -99]) & (df_fin.at[index, "119_Observed temperature(Â°C)"] not in [-9, -99]):
        avg_temp = (df_fin.at[index, "108_Observed temperature(Â°C)"] + df_fin.at[index, "112_Observed temperature(Â°C)"] + df_fin.at[index, "119_Observed temperature(Â°C)"]) / 3
        df_fin.at[index, "Temperature(Â°C)"] = avg_temp
    elif (df_fin.at[index, "108_Observed temperature(Â°C)"] in [-9, -99]):
        df_fin.at[index, "Temperature(Â°C)"] = df_fin.at[index, "108_Average temperature per minute(Â°C)"]

# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
missing_index = df_fin[(df_fin["Temperature(Â°C)"] == -9) | (df_fin["Temperature(Â°C)"] == -99)][temp_cols].index
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 0ê°œ ì…ë‹ˆë‹¤

#### 2.3 "Average temperature per minute(Â°C)", "Highest temperature per minute(Â°C)", "Lowest temperature per minute(Â°C)"

##### 2.3.1 "Average temperature per minute(Â°C)"

In [346]:
# ê²°ì¸¡ì¹˜ì˜ ê°’ìœ¼ë¡œ -9, -99ì˜ ê°’ì„ ê°€ì§€ëŠ” í–‰ ë²ˆí˜¸ë¥¼ ê°€ì§€ëŠ” ë³€ìˆ˜ ìƒì„±
missing_index = df_fin[(df_fin["108_Average temperature per minute(Â°C)"] == -9) | (df_fin["108_Average temperature per minute(Â°C)"] == -99)][temp_cols].index
# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 42ê°œ ì…ë‹ˆë‹¤.

In [347]:
for index in missing_index:
    # "108_Average temperature per minute(Â°C)" ì»¬ëŸ¼ì— ê²°ì¸¡ê°’ì´ ìˆì„ ê²½ìš°, ì§€ì ë²ˆí˜¸(112)ì¸ ì¸ì²œ ê°’ìœ¼ë¡œ ëŒ€ì²´
    if (df_fin.at[index, "112_Average temperature per minute(Â°C)"] not in [-9, -99]):
        df_fin.at[index, "108_Average temperature per minute(Â°C)"] = df_fin.at[index, "112_Average temperature per minute(Â°C)"]
    elif (df_fin.at[index, "112_Average temperature per minute(Â°C)"] in [-9, -99]) & (df_fin.at[index, "119_Average temperature per minute(Â°C)"] not in [-9, -99]):
        df_fin.at[index, "108_Average temperature per minute(Â°C)"] = df_fin.at[index, "119_Average temperature per minute(Â°C)"]

# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
missing_index = df_fin[(df_fin["108_Average temperature per minute(Â°C)"] == -9) | (df_fin["108_Average temperature per minute(Â°C)"] == -99)][temp_cols].index
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤")

# "Average atmospheric pressure(hPa)" ì»¬ëŸ¼ ìƒì„±
if len(missing_index) == 0:
    df_fin["Average temperature per minute(Â°C)"] = df_fin["108_Average temperature per minute(Â°C)"]
    print("ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ìƒì„±í•˜ì˜€ìŠµë‹ˆë‹¤.")
else:
    print("ì¶”ê°€ ì „ì²˜ë¦¬ê°€ í•„ìš”í•©ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 0ê°œ ì…ë‹ˆë‹¤
ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ìƒì„±í•˜ì˜€ìŠµë‹ˆë‹¤.

##### 2.3.2 "Highest temperature per minute(Â°C)"

In [348]:
# ê²°ì¸¡ì¹˜ì˜ ê°’ìœ¼ë¡œ -9, -99ì˜ ê°’ì„ ê°€ì§€ëŠ” í–‰ ë²ˆí˜¸ë¥¼ ê°€ì§€ëŠ” ë³€ìˆ˜ ìƒì„±
missing_index = df_fin[(df_fin["108_Highest temperature per minute(Â°C)"] == -9) | (df_fin["108_Highest temperature per minute(Â°C)"] == -99)][temp_cols].index
# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 27ê°œ ì…ë‹ˆë‹¤.

In [349]:
for index in missing_index:
    # "108_Average temperature per minute(Â°C)" ì»¬ëŸ¼ì— ê²°ì¸¡ê°’ì´ ìˆì„ ê²½ìš°, ì§€ì ë²ˆí˜¸(112)ì¸ ì¸ì²œ ê°’ìœ¼ë¡œ ëŒ€ì²´
    if (df_fin.at[index, "112_Highest temperature per minute(Â°C)"] not in [-9, -99]):
        df_fin.at[index, "108_Highest temperature per minute(Â°C)"] = df_fin.at[index, "112_Highest temperature per minute(Â°C)"]
    elif (df_fin.at[index, "112_Highest temperature per minute(Â°C)"] in [-9, -99]) & (df_fin.at[index, "119_Highest temperature per minute(Â°C)"] not in [-9, -99]):
        df_fin.at[index, "108_Highest temperature per minute(Â°C)"] = df_fin.at[index, "119_Highest temperature per minute(Â°C)"]

# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
missing_index = df_fin[(df_fin["108_Highest temperature per minute(Â°C)"] == -9) | (df_fin["108_Highest temperature per minute(Â°C)"] == -99)][temp_cols].index
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤")

# "Average atmospheric pressure(hPa)" ì»¬ëŸ¼ ìƒì„±
if len(missing_index) == 0:
    df_fin["Highest temperature per minute(Â°C)"] = df_fin["108_Highest temperature per minute(Â°C)"]
    print("ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ìƒì„±í•˜ì˜€ìŠµë‹ˆë‹¤.")
else:
    print("ì¶”ê°€ ì „ì²˜ë¦¬ê°€ í•„ìš”í•©ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 0ê°œ ì…ë‹ˆë‹¤
ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ìƒì„±í•˜ì˜€ìŠµë‹ˆë‹¤.

##### 2.3.3. "Lowest temperature per minute(Â°C)"

In [350]:
# ê²°ì¸¡ì¹˜ì˜ ê°’ìœ¼ë¡œ -9, -99ì˜ ê°’ì„ ê°€ì§€ëŠ” í–‰ ë²ˆí˜¸ë¥¼ ê°€ì§€ëŠ” ë³€ìˆ˜ ìƒì„±
missing_index = df_fin[(df_fin["108_Lowest temperature per minute(Â°C)"] == -9) | (df_fin["108_Lowest temperature per minute(Â°C)"] == -99)][temp_cols].index
# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 32ê°œ ì…ë‹ˆë‹¤.

In [351]:
for index in missing_index:
    # "108_Average temperature per minute(Â°C)" ì»¬ëŸ¼ì— ê²°ì¸¡ê°’ì´ ìˆì„ ê²½ìš°, ì§€ì ë²ˆí˜¸(112)ì¸ ì¸ì²œ ê°’ìœ¼ë¡œ ëŒ€ì²´
    if (df_fin.at[index, "112_Lowest temperature per minute(Â°C)"] not in [-9, -99]):
        df_fin.at[index, "108_Lowest temperature per minute(Â°C)"] = df_fin.at[index, "112_Lowest temperature per minute(Â°C)"]
    elif (df_fin.at[index, "112_Lowest temperature per minute(Â°C)"] in [-9, -99]) & (df_fin.at[index, "119_Lowest temperature per minute(Â°C)"] not in [-9, -99]):
        df_fin.at[index, "108_Lowest temperature per minute(Â°C)"] = df_fin.at[index, "119_Lowest temperature per minute(Â°C)"]

# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
missing_index = df_fin[(df_fin["108_Lowest temperature per minute(Â°C)"] == -9) | (df_fin["108_Lowest temperature per minute(Â°C)"] == -99)][temp_cols].index
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤")

# "Average atmospheric pressure(hPa)" ì»¬ëŸ¼ ìƒì„±
if len(missing_index) == 0:
    df_fin["Lowest temperature per minute(Â°C)"] = df_fin["108_Lowest temperature per minute(Â°C)"]
    print("ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ìƒì„±í•˜ì˜€ìŠµë‹ˆë‹¤.")
else:
    print("ì¶”ê°€ ì „ì²˜ë¦¬ê°€ í•„ìš”í•©ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 0ê°œ ì…ë‹ˆë‹¤
ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ìƒì„±í•˜ì˜€ìŠµë‹ˆë‹¤.

#### 2.4 ê¸°ì˜¨ ê´€ë ¨ í•„ìš”ì—†ëŠ” ì»¬ëŸ¼ ì‚­ì œ

In [352]:
df_fin.drop(columns=temp_cols[3:], axis=1, inplace=True)

### 3.ê°•ìˆ˜ ë°ì´í„° ê²°ì¸¡ì¹˜ ì±„ìš°ê¸°

#### 3.1 ê°•ìˆ˜ ê´€ë ¨ ì»¬ëŸ¼ ì¶”ì¶œ

In [353]:
rf_cols = [cols for cols in df_fin.columns if ("rainfall" in cols.lower())]
rf_cols.insert(0, 'Datetime')

In [354]:
print(df_fin[df_fin["108_Daily Rainfall(mm)"] < 0][rf_cols].shape)
print(df_fin[df_fin["108_Hourly Rainfall(mm)"] < 0][rf_cols].shape)

(914, 13)
(930, 13)

In [355]:
df_fin[df_fin["108_Daily Rainfall(mm)"] != "108_Hourly Rainfall(mm)"][rf_cols].tail(23)

,Datetime,Rainfall(mm),Daily Rainfall(mm),Daily Rainfall2(mm),108_Daily Rainfall(mm),108_Hourly Rainfall(mm),108_Accumulated Rainfall(mm) for max 60min,112_Daily Rainfall(mm),112_Hourly Rainfall(mm),112_Accumulated Rainfall(mm) for max 60min,119_Daily Rainfall(mm),119_Hourly Rainfall(mm),119_Accumulated Rainfall(mm) for max 60min
52561,2023-12-31 01:00:00,-9.0,0.1,0.1,0.1,0.1,0.2,0.0,0.0,-99.0,0.5,0.5,0.5
52562,2023-12-31 02:00:00,-9.0,0.7,0.7,0.7,0.6,0.6,0.0,0.0,-99.0,1.0,0.5,0.7
52563,2023-12-31 03:00:00,0.8,0.8,0.8,0.8,0.1,0.5,0.0,0.0,-99.0,1.2,0.2,0.5
52564,2023-12-31 04:00:00,-9.0,0.8,0.8,0.8,0.0,0.1,0.0,0.0,-99.0,1.2,0.0,0.2
52565,2023-12-31 05:00:00,-9.0,0.8,0.8,0.8,0.0,0.0,0.0,0.0,-99.0,1.2,0.0,0.0
52566,2023-12-31 06:00:00,0.0,0.8,0.8,0.8,0.0,0.0,0.8,0.8,0.8,1.2,0.0,0.0
52567,2023-12-31 07:00:00,-9.0,1.5,1.5,1.5,0.7,0.7,3.1,2.3,3.0,1.3,0.1,0.1
52568,2023-12-31 08:00:00,-9.0,4.4,4.4,4.4,2.9,3.4,3.1,0.0,2.3,1.4,0.1,0.2
52569,2023-12-31 09:00:00,3.9,4.7,4.7,4.7,0.3,2.9,3.1,0.0,0.0,1.4,0.0,0.1
52570,2023-12-31 10:00:00,-9.0,4.7,4.7,4.7,0.0,0.3,3.1,0.0,0.0,1.4,0.0,0.0
52571,2023-12-31 11:00:00,-9.0,4.7,4.7,4.7,0.0,0.0,3.1,0.0,0.0,1.4,0.0,0.0
52572,2023-12-31 12:00:00,0.0,4.7,4.7,4.7,0.0,0.0,3.1,0.0,0.0,1.4,0.0,0.0
52573,2023-12-31 13:00:00,-9.0,4.7,4.7,4.7,0.0,0.0,3.1,0.0,0.0,1.4,0.0,0.0
52574,2023-12-31 14:00:00,-9.0,4.7,4.7,4.7,0.0,0.0,3.1,0.0,0.0,1.4,0.0,0.0
52575,2023-12-31 15:00:00,-9.0,4.7,4.7,4.7,0.0,0.0,3.1,0.0,0.0,1.4,0.0,0.0
52576,2023-12-31 16:00:00,-9.0,4.7,4.7,4.7,0.0,0.0,3.1,0.0,0.0,1.4,0.0,0.0
52577,2023-12-31 17:00:00,-9.0,4.7,4.7,4.7,0.0,0.0,3.1,0.0,0.0,1.4,0.0,0.0
52578,2023-12-31 18:00:00,-9.0,4.7,4.7,4.7,0.0,0.0,3.1,0.0,0.0,1.4,0.0,0.0
52579,2023-12-31 19:00:00,-9.0,4.7,4.7,4.7,0.0,0.0,3.1,0.0,0.0,1.4,0.0,0.0
52580,2023-12-31 20:00:00,-9.0,4.7,4.7,4.7,0.0,0.0,3.1,0.0,0.0,1.4,0.0,0.0
52581,2023-12-31 21:00:00,-9.0,4.7,4.7,4.7,0.0,0.0,3.1,0.0,0.0,1.4,0.0,0.0
52582,2023-12-31 22:00:00,-9.0,4.7,4.7,4.7,0.0,0.0,3.1,0.0,0.0,1.4,0.0,0.0
52583,2023-12-31 23:00:00,-9.0,4.7,4.7,4.7,0.0,0.0,3.1,0.0,0.0,1.4,0.0,0.0

#### 3.2 "Rainfall(mm)" ì»¬ëŸ¼ì— ê²°ì¸¡ì¹˜ -9 ë˜ëŠ” -99 í–‰ í™•ì¸í•˜ê¸°

In [356]:
# ê²°ì¸¡ì¹˜ì˜ ê°’ìœ¼ë¡œ -9, -99ì˜ ê°’ì„ ê°€ì§€ëŠ” í–‰ ë²ˆí˜¸ë¥¼ ê°€ì§€ëŠ” ë³€ìˆ˜ ìƒì„±
missing_index = df_fin[(df_fin["Rainfall(mm)"] == -9) | (df_fin["Rainfall(mm)"] == -99)][rf_cols].index
# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 46822ê°œ ì…ë‹ˆë‹¤.

In [357]:
for index in missing_index:
    # "Rainfall(mm)" ì»¬ëŸ¼ì— ê²°ì¸¡ì¹˜ë¥¼ ì§€ì ë²ˆí˜¸(108)ì¸ ì„œìš¸ ë°ì´í„°ë¡œ ë³€ê²½ 
    if df_fin.at[index, "108_Hourly Rainfall(mm)"] not in [-9, -99]:
        df_fin.at[index, "Rainfall(mm)"] = df_fin.at[index, "108_Hourly Rainfall(mm)"]
    # ê²°ì¸¡ì¹˜ë¥¼ ì§€ì ë²ˆí˜¸(112)ì¸ ì¸ì²œê³¼ ì§€ì ë²ˆí˜¸(119)ì¸ ìˆ˜ì›ì˜ í‰ê· ê°’ìœ¼ë¡œ ë³€ê²½
    elif (df_fin.at[index, "112_Hourly Rainfall(mm)"] not in [-9, -99]) & (df_fin.at[index, "119_Hourly Rainfall(mm)"] not in [-9, -99]):
        avg_rainfall = (df_fin.at[index, "112_Hourly Rainfall(mm)"] + df_fin.at[index, "119_Hourly Rainfall(mm)"]) / 2
        df_fin.at[index, "Rainfall(mm)"] = avg_rainfall
    # ì¸ì²œì´ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” ê²½ìš°, ìˆ˜ì› ê°’ìœ¼ë¡œ ë³€ê²½
    elif (df_fin.at[index, "112_Hourly Rainfall(mm)"] in [-9, -99]) & (df_fin.at[index, "119_Hourly Rainfall(mm)"] not in [-9, -99]):
        df_fin.at[index, "Rainfall(mm)"] = df_fin.at[index, "119_Hourly Rainfall(mm)"]
    # ìˆ˜ì›ì´ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” ê²½ìš°, ì¸ì²œ ê°’ìœ¼ë¡œ ë³€ê²½
    elif (df_fin.at[index, "112_Hourly Rainfall(mm)"] not in [-9, -99]) & (df_fin.at[index, "119_Hourly Rainfall(mm)"] in [-9, -99]):
        df_fin.at[index, "Rainfall(mm)"] = df_fin.at[index, "112_Hourly Rainfall(mm)"]
    # ìœ„ ì¡°ê±´ì— ë§Œì¡±í•˜ì§€ ì•ŠëŠ” ê²°ì¸¡ê°’ì˜ í–‰ì€ "108_Daily Rainfall(mm)" ì»¬ëŸ¼ì„ í™œìš©í•˜ì—¬ ëŒ€ì²´
    else:
        df_fin.at[index, "Rainfall(mm)"] = df_fin.at[index, "108_Daily Rainfall(mm)"] - df_fin.at[(index-1), "108_Daily Rainfall(mm)"]


# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
missing_index = df_fin[(df_fin["Rainfall(mm)"] < 0)][rf_cols].index
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 5ê°œ ì…ë‹ˆë‹¤

In [358]:
# ë§ˆì§€ë§‰ ê²°ì¸¡ê°’ì„ ê°€ì§„ í–‰ í™•ì¸
print(missing_index)
df_fin[rf_cols].loc[42246:42248]

Int64Index([38450, 38575, 38718, 42028, 42247], dtype='int64')

,Datetime,Rainfall(mm),Daily Rainfall(mm),Daily Rainfall2(mm),108_Daily Rainfall(mm),108_Hourly Rainfall(mm),108_Accumulated Rainfall(mm) for max 60min,112_Daily Rainfall(mm),112_Hourly Rainfall(mm),112_Accumulated Rainfall(mm) for max 60min,119_Daily Rainfall(mm),119_Hourly Rainfall(mm),119_Accumulated Rainfall(mm) for max 60min
42246,2022-10-27 06:00:00,0.0,-9.0,-9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42247,2022-10-27 07:00:00,-99.0,-9.0,-9.0,-99.0,-99.0,0.0,-99.0,-99.0,0.0,-99.0,-99.0,0.0
42248,2022-10-27 08:00:00,0.0,-9.0,-9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [359]:
# "Rainfall(mm)" ì»¬ëŸ¼ì—ì„œ ê²°ì¸¡ê°’ì„ ê°€ì§„ í–‰ ì‚¬ì´ ê°’ì˜ í‰ê· ê°’ìœ¼ë¡œ ëŒ€ì²´
for index in missing_index:
    df_fin.at[index, "Rainfall(mm)"] = (df_fin.at[(index+1), "Rainfall(mm)"] + df_fin.at[(index-1), "Rainfall(mm)"]) / 2

# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
missing_index = df_fin[(df_fin["Rainfall(mm)"] < 0)][rf_cols].index
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 0ê°œ ì…ë‹ˆë‹¤

#### 3.3 ê°•ìˆ˜ ê´€ë ¨ í•„ìš”ì—†ëŠ” ì»¬ëŸ¼ ì‚­ì œ

In [360]:
rf_cols

['Datetime',
 'Rainfall(mm)',
 'Daily Rainfall(mm)',
 'Daily Rainfall2(mm)',
 '108_Daily Rainfall(mm)',
 '108_Hourly Rainfall(mm)',
 '108_Accumulated Rainfall(mm) for max 60min',
 '112_Daily Rainfall(mm)',
 '112_Hourly Rainfall(mm)',
 '112_Accumulated Rainfall(mm) for max 60min',
 '119_Daily Rainfall(mm)',
 '119_Hourly Rainfall(mm)',
 '119_Accumulated Rainfall(mm) for max 60min']

In [361]:
df_fin.drop(columns=rf_cols[2:], axis=1, inplace=True)

### 4.ë°”ëŒ ë°ì´í„° ê²°ì¸¡ì¹˜ ì±„ìš°ê¸°

#### 4.1 í’í–¥ ê´€ë ¨ ì»¬ëŸ¼ ì¶”ì¶œ

In [362]:
wd_cols = [cols for cols in df_fin.columns if ("wind direction" in cols.lower())]
wd_cols.insert(0, 'Datetime')

In [363]:
df_fin[wd_cols].head()

,Datetime,Wind Direction,108_Observed wind direction(deg),108_Maximum wind direction per minute(deg),112_Observed wind direction(deg),112_Maximum wind direction per minute(deg),119_Observed wind direction(deg),119_Maximum wind direction per minute(deg)
0,2018-01-01 00:00:00,11,108.0,289.7,325.3,348.7,294.1,310.4
1,2018-01-01 01:00:00,36,350.4,333.9,348.5,348.5,274.7,298.7
2,2018-01-01 02:00:00,27,262.3,328.6,20.9,7.1,306.3,267.7
3,2018-01-01 03:00:00,29,293.0,283.8,351.2,352.9,265.5,266.4
4,2018-01-01 04:00:00,29,292.0,294.9,350.8,347.2,0.0,169.2

#### 4.2 "Wind Direction" ì»¬ëŸ¼ ê°’ì„ ì„¸ìë¦¬ ì •ìˆ˜ë¡œ ë³€ê²½

In [364]:
df_fin["Wind Direction"] = df_fin["Wind Direction"] * 10

#### 4.3 "Wind Direction" ì»¬ëŸ¼ì— ê²°ì¸¡ì¹˜ê°€ 0 ì´í•˜ì¸ í–‰ í™•ì¸

In [365]:
# ê²°ì¸¡ì¹˜ì˜ ê°’ìœ¼ë¡œ -9, -99ì˜ ê°’ì„ ê°€ì§€ëŠ” í–‰ ë²ˆí˜¸ë¥¼ ê°€ì§€ëŠ” ë³€ìˆ˜ ìƒì„±
missing_index = df_fin[df_fin["Wind Direction"] < 0][wd_cols].index
# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 48ê°œ ì…ë‹ˆë‹¤.

In [366]:
for index in missing_index:
    if (df_fin.at[index, "108_Observed wind direction(deg)"] >= 0):
        df_fin.at[index, "Wind Direction"] = df_fin.at[index, "108_Observed wind direction(deg)"]
    # ì„œìš¸ ê°’ì´ ê²°ì¸¡ê°’ì¼ ê²½ìš°, ì§€ì ë²ˆí˜¸(112)ì¸ ì¸ì²œ ê°’ì„ ì‚¬ìš©
    elif (df_fin.at[index, "108_Observed wind direction(deg)"] < 0) & (df_fin.at[index, "112_Observed wind direction(deg)"] >= 0):
        df_fin.at[index, "Wind Direction"] = df_fin.at[index, "112_Observed wind direction(deg)"]
    # ì¸ì²œ ê°’ì´ ê²°ì¸¡ê°’ì¼ ê²½ìš°, ì§€ì ë²ˆí˜¸(119) ìˆ˜ì› ê°’ì„ ì‚¬ìš©
    elif (df_fin.at[index, "108_Observed wind direction(deg)"] < 0 ) & (df_fin.at[index, "112_Observed wind direction(deg)"] < 0) & (df_fin.at[index, "119_Observed wind direction(deg)"] >= 0):
        df_fin.at[index, "Wind Direction"] = df_fin.at[index, "119_Observed wind direction(deg)"]

# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
missing_index = df_fin[(df_fin["Wind Direction"] < 0)][wd_cols].index
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 0ê°œ ì…ë‹ˆë‹¤

#### 4.4 "Maximum wind direction per minute(deg)" ì»¬ëŸ¼ ìƒì„±ì„ ìœ„í•´ ê²°ì¸¡ì¹˜ 0 ì´í•˜ í™•ì¸

In [367]:
# ê²°ì¸¡ì¹˜ì˜ ê°’ìœ¼ë¡œ -9, -99ì˜ ê°’ì„ ê°€ì§€ëŠ” í–‰ ë²ˆí˜¸ë¥¼ ê°€ì§€ëŠ” ë³€ìˆ˜ ìƒì„±
missing_index = df_fin[df_fin["108_Maximum wind direction per minute(deg)"] < 0][wd_cols].index
# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 95ê°œ ì…ë‹ˆë‹¤.

In [368]:
for index in missing_index:
    # ì„œìš¸ ê°’ì´ ê²°ì¸¡ê°’ì¼ ê²½ìš°, ì§€ì ë²ˆí˜¸(112)ì¸ ì¸ì²œ ê°’ì„ ì‚¬ìš©
    if (df_fin.at[index, "112_Maximum wind direction per minute(deg)"] >= 0):
        df_fin.at[index, "108_Maximum wind direction per minute(deg)"] = df_fin.at[index, "112_Maximum wind direction per minute(deg)"]
    # ì¸ì²œ ê°’ì´ ê²°ì¸¡ê°’ì¼ ê²½ìš°, ì§€ì ë²ˆí˜¸(119) ìˆ˜ì› ê°’ì„ ì‚¬ìš©
    elif (df_fin.at[index, "112_Observed wind direction(deg)"] < 0) & (df_fin.at[index, "119_Observed wind direction(deg)"] >= 0):
        df_fin.at[index, "108_Maximum wind direction per minute(deg)"] = df_fin.at[index, "119_Maximum wind direction per minute(deg)"]

# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
missing_index = df_fin[(df_fin["Wind Direction"] < 0)][wd_cols].index
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤")

# "Maximum wind direction per minute(deg)" ì»¬ëŸ¼ ìƒì„±
if len(missing_index) == 0:
    df_fin["Maximum wind direction per minute(deg)"] = df_fin["108_Maximum wind direction per minute(deg)"]
else:
    print("ì¶”ê°€ ì „ì²˜ë¦¬ê°€ í•„ìš”í•©ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 0ê°œ ì…ë‹ˆë‹¤

#### 4.5 í’í–¥ ê´€ë ¨ í•„ìš”ì—†ëŠ” ì»¬ëŸ¼ ì‚­ì œ

In [369]:
df_fin.drop(columns=wd_cols[2:], axis=1, inplace=True)

#### 4.6 í’ì† ê´€ë ¨ ì»¬ëŸ¼ ì¶”ì¶œ

In [370]:
ws_cols = [cols for cols in df_fin.columns if ("wind speed" in cols.lower())]
ws_cols.insert(0, 'Datetime')

#### 4.7 "Wind Speed" ì»¬ëŸ¼ì— ê²°ì¸¡ì¹˜ 0 ì´í•˜ ì¸ í–‰ í™•ì¸

In [371]:
# ê²°ì¸¡ì¹˜ì˜ ê°’ìœ¼ë¡œ 0 ì´í•˜ì˜ ê°’ì„ ê°€ì§€ëŠ” í–‰ ë²ˆí˜¸ë¥¼ ê°€ì§€ëŠ” ë³€ìˆ˜ ìƒì„±
missing_index = df_fin[df_fin["Wind Speed(m/s)"] < 0][ws_cols].index
# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 48ê°œ ì…ë‹ˆë‹¤.

In [372]:
for index in missing_index:
    # "Wind Direction" ì»¬ëŸ¼ì— ê²°ì¸¡ê°’ì´ ìˆì„ ê²½ìš°, ì§€ì ë²ˆí˜¸(108)ì¸ ì„œìš¸ ê°’ì„ ì‚¬ìš©
    if (df_fin.at[index, "108_Observed wind speed(m/s)"] >= 0):
        df_fin.at[index, "Wind Speed(m/s)"] = df_fin.at[index, "108_Observed wind speed(m/s)"]
    # ì„œìš¸ ê°’ì´ ê²°ì¸¡ê°’ì¼ ê²½ìš°, ì§€ì ë²ˆí˜¸(112)ì¸ ì¸ì²œ ê°’ì„ ì‚¬ìš©
    elif (df_fin.at[index, "108_Observed wind speed(m/s)"] < 0) & (df_fin.at[index, "112_Observed wind speed(m/s)"] >= 0):
        df_fin.at[index, "Wind Speed(m/s)"] = df_fin.at[index, "112_Observed wind speed(m/s)"]
    # ì¸ì²œ ê°’ì´ ê²°ì¸¡ê°’ì¼ ê²½ìš°, ì§€ì ë²ˆí˜¸(119) ìˆ˜ì› ê°’ì„ ì‚¬ìš©
    elif (df_fin.at[index, "108_Observed wind speed(m/s)"] < 0) & (df_fin.at[index, "112_Observed wind speed(m/s)"] < 0) & (df_fin.at[index, "119_Observed wind speed(m/s)"] >= 0):
        df_fin.at[index, "Wind Speed(m/s)"] = df_fin.at[index, "119_Observed wind speed(m/s)"]

# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
missing_index = df_fin[(df_fin["Wind Speed(m/s)"] < 0)][ws_cols].index
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 0ê°œ ì…ë‹ˆë‹¤

#### 4.8 "Average wind speed per minute(m/s)", "Maximum wind speed per minute(m/s)" ì»¬ëŸ¼ ìƒì„±ì„ ìœ„í•œ ê²°ì¸¡ì¹˜ 0ì´í•˜ì¸ í–‰ í™•ì¸

##### 4.8.1 "Average wind speed per minute(m/s)

In [373]:
# ê²°ì¸¡ì¹˜ì˜ ê°’ìœ¼ë¡œ -9ì˜ ê°’ì„ ê°€ì§€ëŠ” í–‰ ë²ˆí˜¸ë¥¼ ê°€ì§€ëŠ” ë³€ìˆ˜ ìƒì„±
missing_index = df_fin[df_fin["108_Average wind speed per minute(m/s)"] < 0][ws_cols].index
# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 95ê°œ ì…ë‹ˆë‹¤.

In [374]:
for index in missing_index:
    # ì„œìš¸ ê°’ì´ ê²°ì¸¡ê°’ì¼ ê²½ìš°, ì§€ì ë²ˆí˜¸(112)ì¸ ì¸ì²œ ê°’ì„ ì‚¬ìš©
    if (df_fin.at[index, "112_Average wind speed per minute(m/s)"] >= 0):
        df_fin.at[index, "108_Average wind speed per minute(m/s)"] = df_fin.at[index, "112_Average wind speed per minute(m/s)"]
    # ì¸ì²œ ê°’ì´ ê²°ì¸¡ê°’ì¼ ê²½ìš°, ì§€ì ë²ˆí˜¸(119) ìˆ˜ì› ê°’ì„ ì‚¬ìš©
    elif (df_fin.at[index, "112_Average wind speed per minute(m/s)"] < 0) & (df_fin.at[index, "119_Average wind speed per minute(m/s)"] >= 0):
        df_fin.at[index, "108_Average wind speed per minute(m/s)"] = df_fin.at[index, "119_Average wind speed per minute(m/s)"]

# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
missing_index = df_fin[(df_fin["108_Average wind speed per minute(m/s)"] < 0)][ws_cols].index
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤")

# "Miximum wind speed per minute(m/s)" ì»¬ëŸ¼ ìƒì„±
if len(missing_index) == 0:
    df_fin["Average wind speed per minute(m/s)"] = df_fin["108_Average wind speed per minute(m/s)"]
    print("ìƒˆë¡œìš´ ì»¬ëŸ¼ ìƒì„±í•˜ì˜€ìŠµë‹ˆë‹¤.")
else:
    print("ì¶”ê°€ ì „ì²˜ë¦¬ê°€ í•„ìš”í•©ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 0ê°œ ì…ë‹ˆë‹¤
ìƒˆë¡œìš´ ì»¬ëŸ¼ ìƒì„±í•˜ì˜€ìŠµë‹ˆë‹¤.

##### 4.8.2 "Maximum wind speed per minute(m/s)"

In [375]:
# ê²°ì¸¡ì¹˜ì˜ ê°’ìœ¼ë¡œ -9ì˜ ê°’ì„ ê°€ì§€ëŠ” í–‰ ë²ˆí˜¸ë¥¼ ê°€ì§€ëŠ” ë³€ìˆ˜ ìƒì„±
missing_index = df_fin[df_fin["108_Maximum wind speed per minute(m/s)"] < 0][ws_cols].index
# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 95ê°œ ì…ë‹ˆë‹¤.

In [376]:
for index in missing_index:
    # ì„œìš¸ ê°’ì´ ê²°ì¸¡ê°’ì¼ ê²½ìš°, ì§€ì ë²ˆí˜¸(112)ì¸ ì¸ì²œ ê°’ì„ ì‚¬ìš©
    if (df_fin.at[index, "112_Maximum wind speed per minute(m/s)"] >= 0):
        df_fin.at[index, "108_Maximum wind speed per minute(m/s)"] = df_fin.at[index, "112_Maximum wind speed per minute(m/s)"]
    # ì¸ì²œ ê°’ì´ ê²°ì¸¡ê°’ì¼ ê²½ìš°, ì§€ì ë²ˆí˜¸(119) ìˆ˜ì› ê°’ì„ ì‚¬ìš©
    elif (df_fin.at[index, "112_Maximum wind speed per minute(m/s)"] < 0) & (df_fin.at[index, "119_Maximum wind speed per minute(m/s)"] >= 0):
        df_fin.at[index, "108_Maximum wind speed per minute(m/s)"] = df_fin.at[index, "119_Maximum wind speed per minute(m/s)"]

# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
missing_index = df_fin[(df_fin["108_Maximum wind speed per minute(m/s)"] < 0)][ws_cols].index
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤")

# "Miximum wind speed per minute(m/s)" ì»¬ëŸ¼ ìƒì„±
if len(missing_index) == 0:
    df_fin["Maximum wind speed per minute(m/s)"] = df_fin["108_Maximum wind speed per minute(m/s)"]
    print("ìƒˆë¡œìš´ ì»¬ëŸ¼ ìƒì„±í•˜ì˜€ìŠµë‹ˆë‹¤.")
else:
    print("ì¶”ê°€ ì „ì²˜ë¦¬ê°€ í•„ìš”í•©ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 0ê°œ ì…ë‹ˆë‹¤
ìƒˆë¡œìš´ ì»¬ëŸ¼ ìƒì„±í•˜ì˜€ìŠµë‹ˆë‹¤.

#### 4.9 í’ì† ê´€ë ¨ í•„ìš”ì—†ëŠ” ì»¬ëŸ¼ ì‚­ì œ

In [377]:
df_fin[ws_cols].columns

Index(['Datetime', 'Wind Speed(m/s)', '108_Observed wind speed(m/s)',
       '108_Average wind speed per minute(m/s)',
       '108_Maximum wind speed per minute(m/s)',
       '112_Observed wind speed(m/s)',
       '112_Average wind speed per minute(m/s)',
       '112_Maximum wind speed per minute(m/s)',
       '119_Observed wind speed(m/s)',
       '119_Average wind speed per minute(m/s)',
       '119_Maximum wind speed per minute(m/s)'],
      dtype='object')

In [378]:
df_fin.drop(columns=ws_cols[2:], axis=1, inplace=True)

### 5.ìŠµë„ ë°ì´í„° ê²°ì¸¡ì¹˜ ì±„ìš°ê¸°

#### 5.1 ìŠµë„ ê´€ë ¨ ì»¬ëŸ¼ ì¶”ì¶œ

In [379]:
hum_cols = [cols for cols in df_fin.columns if ("humidity" in cols.lower())]
hum_cols.insert(0, 'Datetime')

#### 5.2 "Relative Humidity(%)" ì»¬ëŸ¼ ê°’ì— ê²°ì¸¡ì¹˜ -9ì¸ í–‰ í™•ì¸

In [380]:
# ê²°ì¸¡ì¹˜ì˜ ê°’ìœ¼ë¡œ -9 ì˜ ê°’ì„ ê°€ì§€ëŠ” í–‰ ë²ˆí˜¸ë¥¼ ê°€ì§€ëŠ” ë³€ìˆ˜ ìƒì„±
missing_index = df_fin[df_fin["Relative Humidity(%)"] < 0][hum_cols].index
# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 19ê°œ ì…ë‹ˆë‹¤.

In [381]:
for index in missing_index:
    # "Relative Humidity" ì»¬ëŸ¼ì— ê²°ì¸¡ê°’ì´ ìˆì„ ê²½ìš°, ì§€ì ë²ˆí˜¸(108)ì¸ ì„œìš¸ ê°’ì„ ì‚¬ìš©
    if df_fin.at[index, "108_Observed humidity(%)"] not in [-9]:
        df_fin.at[index, "Relative Humidity(%)"] = df_fin.at[index, "108_Observed humidity(%)"]
    # ì„œìš¸ ê°’ì´ ê²°ì¸¡ê°’ì¼ ê²½ìš°, ì§€ì ë²ˆí˜¸(112)ì¸ ì¸ì²œ ê°’ì„ ì‚¬ìš©
    elif (df_fin.at[index, "108_Observed humidity(%)"] in [-9]) & (df_fin.at[index, "112_Observed humidity(%)"] not in [-9]):
        df_fin.at[index, "Relative Humidity(%)"] = df_fin.at[index, "112_Observed humidity(%)"]
    # ì¸ì²œ ê°’ì´ ê²°ì¸¡ê°’ì¼ ê²½ìš°, ì§€ì ë²ˆí˜¸(119) ìˆ˜ì› ê°’ì„ ì‚¬ìš©
    elif (df_fin.at[index, "108_Observed humidity(%)"] in [-9]) & (df_fin.at[index, "112_Observed humidity(%)"] in [-9]) & (df_fin.at[index, "119_Observed humidity(%)"] not in [-9]):
        df_fin.at[index, "Relative Humidity(%)"] = df_fin.at[index, "119_Observed humidity(%)"]

# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
missing_index = df_fin[(df_fin["Relative Humidity(%)"] == -9)][hum_cols].index
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 0ê°œ ì…ë‹ˆë‹¤

#### 5.3 "Average humidity per minute(%)", "Maximum humidity per minute(%)", "Minimum humidity per minute(%)

##### 5.3.1 "Average humidity per minute(%)"

In [382]:
# ê²°ì¸¡ì¹˜ì˜ ê°’ìœ¼ë¡œ -9ì˜ ê°’ì„ ê°€ì§€ëŠ” í–‰ ë²ˆí˜¸ë¥¼ ê°€ì§€ëŠ” ë³€ìˆ˜ ìƒì„±
missing_index = df_fin[df_fin["108_Average humidity per minute(%)"] < 0][hum_cols].index
# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 10ê°œ ì…ë‹ˆë‹¤.

In [383]:
for index in missing_index:
    # ì„œìš¸ ê°’ì´ ê²°ì¸¡ê°’ì¼ ê²½ìš°, ì§€ì ë²ˆí˜¸(112)ì¸ ì¸ì²œ ê°’ì„ ì‚¬ìš©
    if (df_fin.at[index, "112_Average humidity per minute(%)"] not in [-9]):
        df_fin.at[index, "108_Average humidity per minute(%)"] = df_fin.at[index, "112_Average humidity per minute(%)"]
    # ì¸ì²œ ê°’ì´ ê²°ì¸¡ê°’ì¼ ê²½ìš°, ì§€ì ë²ˆí˜¸(119) ìˆ˜ì› ê°’ì„ ì‚¬ìš©
    elif (df_fin.at[index, "112_Average humidity per minute(%)"] in [-9]) & (df_fin.at[index, "119_Average humidity per minute(%)"] not in [-9]):
        df_fin.at[index, "108_Average humidity per minute(%))"] = df_fin.at[index, "119_Average humidity per minute(%)"]

# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
missing_index = df_fin[(df_fin["108_Average humidity per minute(%)"] == -9)][hum_cols].index
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤")

# "Average humidity per minute(%)" ì»¬ëŸ¼ ìƒì„±
if len(missing_index) == 0:
    df_fin["Average humidity per minute(%)"] = df_fin["108_Average humidity per minute(%)"]
else:
    print("ì¶”ê°€ ì „ì²˜ë¦¬ê°€ í•„ìš”í•©ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 0ê°œ ì…ë‹ˆë‹¤

##### 5.3.2 "Maximum humidity per minute(%)"

In [384]:
# ê²°ì¸¡ì¹˜ì˜ ê°’ìœ¼ë¡œ -9ì˜ ê°’ì„ ê°€ì§€ëŠ” í–‰ ë²ˆí˜¸ë¥¼ ê°€ì§€ëŠ” ë³€ìˆ˜ ìƒì„±
missing_index = df_fin[df_fin["108_Maximum humidity per minute(%)"] < 0][hum_cols].index
# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 10ê°œ ì…ë‹ˆë‹¤.

In [385]:
for index in missing_index:
    # ì„œìš¸ ê°’ì´ ê²°ì¸¡ê°’ì¼ ê²½ìš°, ì§€ì ë²ˆí˜¸(112)ì¸ ì¸ì²œ ê°’ì„ ì‚¬ìš©
    if (df_fin.at[index, "112_Maximum humidity per minute(%)"] not in [-9]):
        df_fin.at[index, "108_Maximum humidity per minute(%)"] = df_fin.at[index, "112_Maximum humidity per minute(%)"]
    # ì¸ì²œ ê°’ì´ ê²°ì¸¡ê°’ì¼ ê²½ìš°, ì§€ì ë²ˆí˜¸(119) ìˆ˜ì› ê°’ì„ ì‚¬ìš©
    elif (df_fin.at[index, "112_Maximum humidity per minute(%)"] in [-9]) & (df_fin.at[index, "119_Maximum humidity per minute(%)"] not in [-9]):
        df_fin.at[index, "108_Maximum humidity per minute(%))"] = df_fin.at[index, "119_Maximum humidity per minute(%)"]

# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
missing_index = df_fin[(df_fin["108_Maximum humidity per minute(%)"] == -9)][hum_cols].index
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤")

# "Maximum humidity per minute(%)" ì»¬ëŸ¼ ìƒì„±
if len(missing_index) == 0:
    df_fin["Maximum humidity per minute(%)"] = df_fin["108_Maximum humidity per minute(%)"]
else:
    print("ì¶”ê°€ ì „ì²˜ë¦¬ê°€ í•„ìš”í•©ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 0ê°œ ì…ë‹ˆë‹¤

##### 5.3.3 "Minimum humidity per minute(%)"

In [386]:
# ê²°ì¸¡ì¹˜ì˜ ê°’ìœ¼ë¡œ -9ì˜ ê°’ì„ ê°€ì§€ëŠ” í–‰ ë²ˆí˜¸ë¥¼ ê°€ì§€ëŠ” ë³€ìˆ˜ ìƒì„±
missing_index = df_fin[df_fin["108_Minimum humidity per minute(%)"] < 0][hum_cols].index
# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 11ê°œ ì…ë‹ˆë‹¤.

In [387]:
for index in missing_index:
    # ì„œìš¸ ê°’ì´ ê²°ì¸¡ê°’ì¼ ê²½ìš°, ì§€ì ë²ˆí˜¸(112)ì¸ ì¸ì²œ ê°’ì„ ì‚¬ìš©
    if (df_fin.at[index, "112_Minimum humidity per minute(%)"] not in [-9]):
        df_fin.at[index, "108_Minimum humidity per minute(%)"] = df_fin.at[index, "112_Minimum humidity per minute(%)"]
    # ì¸ì²œ ê°’ì´ ê²°ì¸¡ê°’ì¼ ê²½ìš°, ì§€ì ë²ˆí˜¸(119) ìˆ˜ì› ê°’ì„ ì‚¬ìš©
    elif (df_fin.at[index, "112_Minimum humidity per minute(%)"] in [-9]) & (df_fin.at[index, "119_Minimum humidity per minute(%)"] not in [-9]):
        df_fin.at[index, "108_Minimum humidity per minute(%))"] = df_fin.at[index, "119_Minimum humidity per minute(%)"]

# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
missing_index = df_fin[(df_fin["108_Minimum humidity per minute(%)"] == -9)][hum_cols].index
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤")

# "Minimum humidity per minute(%)" ì»¬ëŸ¼ ìƒì„±
if len(missing_index) == 0:
    df_fin["Minimum humidity per minute(%)"] = df_fin["108_Maximum humidity per minute(%)"]
else:
    print("ì¶”ê°€ ì „ì²˜ë¦¬ê°€ í•„ìš”í•©ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 0ê°œ ì…ë‹ˆë‹¤

#### 5.4 ìŠµë„ ê´€ë ¨ í•„ìš”ì—†ëŠ” ì»¬ëŸ¼ ì‚­ì œ

In [388]:
df_fin[hum_cols].columns

Index(['Datetime', 'Relative Humidity(%)', '108_Observed humidity(%)',
       '108_Average humidity per minute(%)',
       '108_Maximum humidity per minute(%)',
       '108_Minimum humidity per minute(%)', '112_Observed humidity(%)',
       '112_Average humidity per minute(%)',
       '112_Maximum humidity per minute(%)',
       '112_Minimum humidity per minute(%)', '119_Observed humidity(%)',
       '119_Average humidity per minute(%)',
       '119_Maximum humidity per minute(%)',
       '119_Minimum humidity per minute(%)'],
      dtype='object')

In [389]:
df_fin.drop(columns=hum_cols[2:], axis=1, inplace=True)

### 6.ê¸°ì•• ë°ì´í„° ê²°ì¸¡ì¹˜ ì±„ìš°ê¸°

#### 6.1 ê¸°ì•• ê´€ë ¨ ì»¬ëŸ¼ ì¶”ì¶œ

In [390]:
ap_cols = [cols for cols in df_fin.columns if ("atmospheric pressure" in cols.lower())]
ap_cols.insert(0, 'Datetime')

In [391]:
ap_cols

['Datetime',
 'Atmospheric Pressure(hPa)',
 '108_Observed atmospheric pressure(hPa)',
 '108_Average atmospheric pressure(hPa)',
 '108_Highest atmospheric pressure(hPa)',
 '108_Minimum atmospheric pressure(hPa)',
 '112_Observed atmospheric pressure(hPa)',
 '112_Average atmospheric pressure(hPa)',
 '112_Highest atmospheric pressure(hPa)',
 '112_Minimum atmospheric pressure(hPa)',
 '119_Observed atmospheric pressure(hPa)',
 '119_Average atmospheric pressure(hPa)',
 '119_Highest atmospheric pressure(hPa)',
 '119_Minimum atmospheric pressure(hPa)']

#### 6.2 "Atmospheric Pressure(hPa)" ì»¬ëŸ¼ ê°’ì— ê²°ì¸¡ì¹˜ -9, -99ì¸ í–‰ í™•ì¸

In [392]:
# ê²°ì¸¡ì¹˜ì˜ ê°’ìœ¼ë¡œ -9 ì˜ ê°’ì„ ê°€ì§€ëŠ” í–‰ ë²ˆí˜¸ë¥¼ ê°€ì§€ëŠ” ë³€ìˆ˜ ìƒì„±
missing_index = df_fin[df_fin["Atmospheric Pressure(hPa)"] < 0][ap_cols].index
# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 29ê°œ ì…ë‹ˆë‹¤.

In [393]:
for index in missing_index:
    # "Atmospheric Pressure(hPa)" ì»¬ëŸ¼ì— ê²°ì¸¡ê°’ì´ ìˆì„ ê²½ìš°, ì§€ì ë²ˆí˜¸(108)ì¸ ì„œìš¸ ê°’ì„ ì‚¬ìš©
    if df_fin.at[index, "108_Observed atmospheric pressure(hPa)"] not in [-9, -99]:
        df_fin.at[index, "Atmospheric Pressure(hPa)"] = df_fin.at[index, "108_Observed atmospheric pressure(hPa)"]
    # ì„œìš¸ ê°’ì´ ê²°ì¸¡ê°’ì¼ ê²½ìš°, ì§€ì ë²ˆí˜¸(112)ì¸ ì¸ì²œ ê°’ì„ ì‚¬ìš©
    elif (df_fin.at[index, "108_Observed atmospheric pressure(hPa)"] in [-9, -99]) & (df_fin.at[index, "112_Observed atmospheric pressure(hPa)"] not in [-9, -99]):
        df_fin.at[index, "Atmospheric Pressure(hPa)"] = df_fin.at[index, "112_Observed atmospheric pressure(hPa)"]
    # ì¸ì²œ ê°’ì´ ê²°ì¸¡ê°’ì¼ ê²½ìš°, ì§€ì ë²ˆí˜¸(119) ìˆ˜ì› ê°’ì„ ì‚¬ìš©
    elif (df_fin.at[index, "108_Observed atmospheric pressure(hPa)"] in [-9, -99]) & (df_fin.at[index, "112_Observed atmospheric pressure(hPa)"] in [-9, -99]) & (df_fin.at[index, "119_Observed atmospheric pressure(hPa)"] not in [-9, -99]):
        df_fin.at[index, "Atmospheric Pressure(hPa)"] = df_fin.at[index, "119_Observed atmospheric pressure(hPa)"]

# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
missing_index = df_fin[(df_fin["Atmospheric Pressure(hPa)"] < 0)][ap_cols].index
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 0ê°œ ì…ë‹ˆë‹¤

#### 6.3 "Average atmospheric pressure(hPa)", "Highest atmospheric pressure(hPa)", "Minimum atmospheric pressure(hPa)"

##### 6.3.1 "Average atmospheric pressure(hPa)"

In [394]:
# ê²°ì¸¡ì¹˜ì˜ ê°’ìœ¼ë¡œ -9 ì˜ ê°’ì„ ê°€ì§€ëŠ” í–‰ ë²ˆí˜¸ë¥¼ ê°€ì§€ëŠ” ë³€ìˆ˜ ìƒì„±
missing_index = df_fin[df_fin["108_Average atmospheric pressure(hPa)"] < 0][ap_cols].index
# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 19ê°œ ì…ë‹ˆë‹¤.

In [395]:
for index in missing_index:
    # ì„œìš¸ ê°’ì´ ê²°ì¸¡ê°’ì¼ ê²½ìš°, ì§€ì ë²ˆí˜¸(112)ì¸ ì¸ì²œ ê°’ì„ ì‚¬ìš©
    if (df_fin.at[index, "112_Average atmospheric pressure(hPa)"] not in [-9, -99]):
        df_fin.at[index, "108_Average atmospheric pressure(hPa)"] = df_fin.at[index, "112_Average atmospheric pressure(hPa)"]
    # ì¸ì²œ ê°’ì´ ê²°ì¸¡ê°’ì¼ ê²½ìš°, ì§€ì ë²ˆí˜¸(119) ìˆ˜ì› ê°’ì„ ì‚¬ìš©
    elif (df_fin.at[index, "112_Average atmospheric pressure(hPa)"] in [-9, -99]) & (df_fin.at[index, "119_Average atmospheric pressure(hPa)"] not in [-9, -99]):
        df_fin.at[index, "108_Average atmospheric pressure(hPa)"] = df_fin.at[index, "119_Average atmospheric pressure(hPa)"]

# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
missing_index = df_fin[(df_fin["108_Average atmospheric pressure(hPa)"] < 0)][ap_cols].index
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤")

# "Average atmospheric pressure(hPa)" ì»¬ëŸ¼ ìƒì„±
if len(missing_index) == 0:
    df_fin["Average atmospheric pressure(hPa)"] = df_fin["108_Average atmospheric pressure(hPa)"]
    print("ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ìƒì„±í•˜ì˜€ìŠµë‹ˆë‹¤.")
else:
    print("ì¶”ê°€ ì „ì²˜ë¦¬ê°€ í•„ìš”í•©ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 0ê°œ ì…ë‹ˆë‹¤
ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ìƒì„±í•˜ì˜€ìŠµë‹ˆë‹¤.

##### 6.3.2 "Highest atmospheric pressure(hPa)"

In [396]:
# ê²°ì¸¡ì¹˜ì˜ ê°’ìœ¼ë¡œ -9 ì˜ ê°’ì„ ê°€ì§€ëŠ” í–‰ ë²ˆí˜¸ë¥¼ ê°€ì§€ëŠ” ë³€ìˆ˜ ìƒì„±
missing_index = df_fin[df_fin["108_Highest atmospheric pressure(hPa)"] < 0][ap_cols].index
# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 19ê°œ ì…ë‹ˆë‹¤.

In [397]:
for index in missing_index:
    # ì„œìš¸ ê°’ì´ ê²°ì¸¡ê°’ì¼ ê²½ìš°, ì§€ì ë²ˆí˜¸(112)ì¸ ì¸ì²œ ê°’ì„ ì‚¬ìš©
    if (df_fin.at[index, "112_Highest atmospheric pressure(hPa)"] not in [-9, -99]):
        df_fin.at[index, "108_Highest atmospheric pressure(hPa)"] = df_fin.at[index, "112_Highest atmospheric pressure(hPa)"]
    # ì¸ì²œ ê°’ì´ ê²°ì¸¡ê°’ì¼ ê²½ìš°, ì§€ì ë²ˆí˜¸(119) ìˆ˜ì› ê°’ì„ ì‚¬ìš©
    elif (df_fin.at[index, "112_Highest atmospheric pressure(hPa)"] in [-9, -99]) & (df_fin.at[index, "119_Highest atmospheric pressure(hPa)"] not in [-9, -99]):
        df_fin.at[index, "108_Highest atmospheric pressure(hPa)"] = df_fin.at[index, "119_Highest atmospheric pressure(hPa)"]

# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
missing_index = df_fin[(df_fin["108_Highest atmospheric pressure(hPa)"] < 0)][ap_cols].index
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤")

# "Average atmospheric pressure(hPa)" ì»¬ëŸ¼ ìƒì„±
if len(missing_index) == 0:
    df_fin["Highest atmospheric pressure(hPa)"] = df_fin["108_Highest atmospheric pressure(hPa)"]
    print("ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ìƒì„±í•˜ì˜€ìŠµë‹ˆë‹¤.")
else:
    print("ì¶”ê°€ ì „ì²˜ë¦¬ê°€ í•„ìš”í•©ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 0ê°œ ì…ë‹ˆë‹¤
ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ìƒì„±í•˜ì˜€ìŠµë‹ˆë‹¤.

##### 6.3.3 "Minimum atmospheric pressure(hPa)"

In [398]:
# ê²°ì¸¡ì¹˜ì˜ ê°’ìœ¼ë¡œ -9 ì˜ ê°’ì„ ê°€ì§€ëŠ” í–‰ ë²ˆí˜¸ë¥¼ ê°€ì§€ëŠ” ë³€ìˆ˜ ìƒì„±
missing_index = df_fin[df_fin["108_Minimum atmospheric pressure(hPa)"] < 0][ap_cols].index
# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 19ê°œ ì…ë‹ˆë‹¤.

In [399]:
for index in missing_index:
    # ì„œìš¸ ê°’ì´ ê²°ì¸¡ê°’ì¼ ê²½ìš°, ì§€ì ë²ˆí˜¸(112)ì¸ ì¸ì²œ ê°’ì„ ì‚¬ìš©
    if (df_fin.at[index, "112_Minimum atmospheric pressure(hPa)"] not in [-9, -99]):
        df_fin.at[index, "108_Minimum atmospheric pressure(hPa)"] = df_fin.at[index, "112_Minimum atmospheric pressure(hPa)"]
    # ì¸ì²œ ê°’ì´ ê²°ì¸¡ê°’ì¼ ê²½ìš°, ì§€ì ë²ˆí˜¸(119) ìˆ˜ì› ê°’ì„ ì‚¬ìš©
    elif (df_fin.at[index, "112_Minimum atmospheric pressure(hPa)"] in [-9, -99]) & (df_fin.at[index, "119_Minimum atmospheric pressure(hPa)"] not in [-9, -99]):
        df_fin.at[index, "108_Minimum atmospheric pressure(hPa)"] = df_fin.at[index, "119_Minimum atmospheric pressure(hPa)"]

# ì¸ë±ìŠ¤ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê¸° ìœ„í•œ ì¶œë ¥
missing_index = df_fin[(df_fin["108_Minimum atmospheric pressure(hPa)"] < 0)][ap_cols].index
print(f"í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” {len(missing_index)}ê°œ ì…ë‹ˆë‹¤")

# "Average atmospheric pressure(hPa)" ì»¬ëŸ¼ ìƒì„±
if len(missing_index) == 0:
    df_fin["Minimum atmospheric pressure(hPa)"] = df_fin["108_Minimum atmospheric pressure(hPa)"]
    print("ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ìƒì„±í•˜ì˜€ìŠµë‹ˆë‹¤.")
else:
    print("ì¶”ê°€ ì „ì²˜ë¦¬ê°€ í•„ìš”í•©ë‹ˆë‹¤.")

í˜„ì¬ ê²°ì¸¡ê°’ì„ ê°€ì§€ëŠ” í–‰ì˜ ê°œìˆ˜ëŠ” 0ê°œ ì…ë‹ˆë‹¤
ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ìƒì„±í•˜ì˜€ìŠµë‹ˆë‹¤.

#### 6.4 ê¸°ì•• ê´€ë ¨ í•„ìš”ì—†ëŠ” ì»¬ëŸ¼ ì‚­ì œ

In [400]:
df_fin[ap_cols].columns

Index(['Datetime', 'Atmospheric Pressure(hPa)',
       '108_Observed atmospheric pressure(hPa)',
       '108_Average atmospheric pressure(hPa)',
       '108_Highest atmospheric pressure(hPa)',
       '108_Minimum atmospheric pressure(hPa)',
       '112_Observed atmospheric pressure(hPa)',
       '112_Average atmospheric pressure(hPa)',
       '112_Highest atmospheric pressure(hPa)',
       '112_Minimum atmospheric pressure(hPa)',
       '119_Observed atmospheric pressure(hPa)',
       '119_Average atmospheric pressure(hPa)',
       '119_Highest atmospheric pressure(hPa)',
       '119_Minimum atmospheric pressure(hPa)'],
      dtype='object')

In [401]:
df_fin.drop(columns=ap_cols[2:], axis=1, inplace=True)

### 7.ê·¸ ì™¸ ë°ì´í„° ê²°ì¸¡ì¹˜ ì±„ìš°ê¸°
- 'Dew point Temperature(Â°C)'
- '3hr Snowfall(mm)', 'Daily Snowfall(mm)', 'Daily Sonwfall2(mm)'

In [402]:
df_fin.columns

Index(['Datetime', 'Date', 'Hour', 'Wind Direction', 'Wind Speed(m/s)',
       'Atmospheric Pressure(hPa)', 'Temperature(Â°C)',
       'Dew point Temperature(Â°C)', 'Relative Humidity(%)', 'Rainfall(mm)',
       '3hr Snowfall(mm)', 'Daily Snowfall(mm)', 'Daily Sonwfall2(mm)',
       'Average temperature per minute(Â°C)',
       'Highest temperature per minute(Â°C)',
       'Lowest temperature per minute(Â°C)',
       'Maximum wind direction per minute(deg)',
       'Average wind speed per minute(m/s)',
       'Maximum wind speed per minute(m/s)', 'Average humidity per minute(%)',
       'Maximum humidity per minute(%)', 'Minimum humidity per minute(%)',
       'Average atmospheric pressure(hPa)',
       'Highest atmospheric pressure(hPa)',
       'Minimum atmospheric pressure(hPa)'],
      dtype='object')

#### 7.1 ì»¬ëŸ¼ ì¶”ì¶œ

In [403]:
print(df_fin[df_fin["Dew point Temperature(Â°C)"] == -9].shape)
print(df_fin[df_fin["3hr Snowfall(mm)"] == -9].shape)
print(df_fin[df_fin["Daily Snowfall(mm)"] == -9].shape)
print(df_fin[df_fin["Daily Sonwfall2(mm)"] == -9].shape)

(116, 25)
(52442, 25)
(51987, 25)
(50902, 25)

#### 7.2 í•„ìš”ì—†ëŠ” ì»¬ëŸ¼ ì‚­ì œ

In [404]:
df_fin.drop(["Dew point Temperature(Â°C)", "3hr Snowfall(mm)", 
             "Daily Snowfall(mm)", "Daily Sonwfall2(mm)"], axis=1, inplace=True)

In [405]:
print(df_fin.columns)
print(df_fin.shape)

Index(['Datetime', 'Date', 'Hour', 'Wind Direction', 'Wind Speed(m/s)',
       'Atmospheric Pressure(hPa)', 'Temperature(Â°C)', 'Relative Humidity(%)',
       'Rainfall(mm)', 'Average temperature per minute(Â°C)',
       'Highest temperature per minute(Â°C)',
       'Lowest temperature per minute(Â°C)',
       'Maximum wind direction per minute(deg)',
       'Average wind speed per minute(m/s)',
       'Maximum wind speed per minute(m/s)', 'Average humidity per minute(%)',
       'Maximum humidity per minute(%)', 'Minimum humidity per minute(%)',
       'Average atmospheric pressure(hPa)',
       'Highest atmospheric pressure(hPa)',
       'Minimum atmospheric pressure(hPa)'],
      dtype='object')
(52584, 21)

### 8.ëŒ€ì—¬ê±´ìˆ˜ ë°ì´í„°ì™€ ìš”ì¼ ë°ì´í„° ì¶”ê°€í•˜ê¸°

#### 8.1 ëŒ€ì—¬ê±´ìˆ˜ ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

In [406]:
# rental_history_data.csv íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸°
rental_df = pd.read_csv("../data/rental_history_data.csv", index_col=0)
rental_df

             Date  Hour  Rent Bike Count
0      2018-01-01     0              268
1      2018-01-01     1              304
2      2018-01-01     2              228
3      2018-01-01     3              148
4      2018-01-01     4               85
...           ...   ...              ...
52579  2023-12-31    19              799
52580  2023-12-31    20              844
52581  2023-12-31    21              850
52582  2023-12-31    22              818
52583  2023-12-31    23              875

[52584 rows x 3 columns]

In [407]:
# ë°ì´í„°í”„ë ˆì„ í•©ì¹˜ê¸°
df_fin = pd.concat([df_fin, rental_df["Rent Bike Count"]], axis=1)
df_fin.head()

,Datetime,Date,Hour,Wind Direction,Wind Speed(m/s),Atmospheric Pressure(hPa),Temperature(Â°C),Relative Humidity(%),Rainfall(mm),Average temperature per minute(Â°C),...,Maximum wind direction per minute(deg),Average wind speed per minute(m/s),Maximum wind speed per minute(m/s),Average humidity per minute(%),Maximum humidity per minute(%),Minimum humidity per minute(%),Average atmospheric pressure(hPa),Highest atmospheric pressure(hPa),Minimum atmospheric pressure(hPa),Rent Bike Count
0,2018-01-01 00:00:00,2018-01-01,0,110.0,0.5,1015.4,-3.2,40.0,0.0,-2.9,...,289.7,0.5,1.4,39.9,41.6,41.6,1015.2,1015.4,1015.1,268
1,2018-01-01 01:00:00,2018-01-01,1,360.0,0.7,1015.1,-3.3,41.0,0.0,-3.3,...,333.9,0.6,1.7,40.3,41.6,41.6,1015.3,1015.5,1015.1,304
2,2018-01-01 02:00:00,2018-01-01,2,270.0,0.9,1015.2,-3.7,42.0,0.0,-3.4,...,328.6,0.7,1.6,41.4,45.9,45.9,1015.0,1015.2,1014.9,228
3,2018-01-01 03:00:00,2018-01-01,3,290.0,1.0,1015.5,-4.0,44.0,0.0,-3.8,...,283.8,0.8,1.4,44.0,46.6,46.6,1015.4,1015.6,1015.2,148
4,2018-01-01 04:00:00,2018-01-01,4,290.0,1.1,1015.5,-4.2,53.0,0.0,-4.0,...,294.9,0.8,1.2,49.3,52.7,52.7,1015.5,1015.5,1015.5,85

In [408]:
df_fin.columns

Index(['Datetime', 'Date', 'Hour', 'Wind Direction', 'Wind Speed(m/s)',
       'Atmospheric Pressure(hPa)', 'Temperature(Â°C)', 'Relative Humidity(%)',
       'Rainfall(mm)', 'Average temperature per minute(Â°C)',
       'Highest temperature per minute(Â°C)',
       'Lowest temperature per minute(Â°C)',
       'Maximum wind direction per minute(deg)',
       'Average wind speed per minute(m/s)',
       'Maximum wind speed per minute(m/s)', 'Average humidity per minute(%)',
       'Maximum humidity per minute(%)', 'Minimum humidity per minute(%)',
       'Average atmospheric pressure(hPa)',
       'Highest atmospheric pressure(hPa)',
       'Minimum atmospheric pressure(hPa)', 'Rent Bike Count'],
      dtype='object')

#### 8.2 ê³„ì ˆ, ìš”ì¼ ë°ì´í„° ì¶”ê°€í•˜ê¸° - "Seasons", "Day of the week", "Weekend", "Holiday"

##### 8.2.1 "Datetime" ì»¬ëŸ¼ì„ "Year", "Month", "Day" ì»¬ëŸ¼ìœ¼ë¡œ ë‚˜ëˆ„ê¸°

In [409]:
date_split = df_fin["Date"].str.split("-")

df_fin["Year"] = date_split.str.get(0)
df_fin["Month"] = date_split.str.get(1)
df_fin["Day"] = date_split.str.get(2)

In [410]:
df_fin.tail()

,Datetime,Date,Hour,Wind Direction,Wind Speed(m/s),Atmospheric Pressure(hPa),Temperature(Â°C),Relative Humidity(%),Rainfall(mm),Average temperature per minute(Â°C),...,Average humidity per minute(%),Maximum humidity per minute(%),Minimum humidity per minute(%),Average atmospheric pressure(hPa),Highest atmospheric pressure(hPa),Minimum atmospheric pressure(hPa),Rent Bike Count,Year,Month,Day
52579,2023-12-31 19:00:00,2023-12-31,19,250.0,0.8,1012.0,2.6,90.0,0.0,2.8,...,89.7,91.3,91.3,1011.6,1012.0,1011.2,799,2023,12,31
52580,2023-12-31 20:00:00,2023-12-31,20,250.0,2.2,1013.0,1.9,94.0,0.0,2.1,...,91.5,94.3,94.3,1012.4,1013.0,1012.0,844,2023,12,31
52581,2023-12-31 21:00:00,2023-12-31,21,250.0,2.4,1013.7,1.7,96.0,0.0,1.7,...,94.2,96.1,96.1,1013.3,1013.7,1013.0,850,2023,12,31
52582,2023-12-31 22:00:00,2023-12-31,22,340.0,0.6,1014.1,1.3,95.0,0.0,1.5,...,95.6,96.8,96.8,1013.8,1014.1,1013.6,818,2023,12,31
52583,2023-12-31 23:00:00,2023-12-31,23,70.0,0.8,1014.9,0.9,96.0,0.0,1.0,...,95.4,96.6,96.6,1014.5,1014.9,1014.1,875,2023,12,31

##### 8.2.2 "Seasons" ì»¬ëŸ¼ ìƒì„±

In [411]:
df_fin['Seasons'] = df_fin['Month'].astype(int)

def map_season(month):
    if 3 <= month < 6:
        return 'Spring'
    elif 6 <= month < 9:
        return 'Summer'
    elif 9 <= month < 12:
        return 'Autumn'
    else:
        return 'Winter'

In [412]:
df_fin['Seasons'] = df_fin['Seasons'].apply(map_season)
df_fin.head()

,Datetime,Date,Hour,Wind Direction,Wind Speed(m/s),Atmospheric Pressure(hPa),Temperature(Â°C),Relative Humidity(%),Rainfall(mm),Average temperature per minute(Â°C),...,Maximum humidity per minute(%),Minimum humidity per minute(%),Average atmospheric pressure(hPa),Highest atmospheric pressure(hPa),Minimum atmospheric pressure(hPa),Rent Bike Count,Year,Month,Day,Seasons
0,2018-01-01 00:00:00,2018-01-01,0,110.0,0.5,1015.4,-3.2,40.0,0.0,-2.9,...,41.6,41.6,1015.2,1015.4,1015.1,268,2018,01,01,Winter
1,2018-01-01 01:00:00,2018-01-01,1,360.0,0.7,1015.1,-3.3,41.0,0.0,-3.3,...,41.6,41.6,1015.3,1015.5,1015.1,304,2018,01,01,Winter
2,2018-01-01 02:00:00,2018-01-01,2,270.0,0.9,1015.2,-3.7,42.0,0.0,-3.4,...,45.9,45.9,1015.0,1015.2,1014.9,228,2018,01,01,Winter
3,2018-01-01 03:00:00,2018-01-01,3,290.0,1.0,1015.5,-4.0,44.0,0.0,-3.8,...,46.6,46.6,1015.4,1015.6,1015.2,148,2018,01,01,Winter
4,2018-01-01 04:00:00,2018-01-01,4,290.0,1.1,1015.5,-4.2,53.0,0.0,-4.0,...,52.7,52.7,1015.5,1015.5,1015.5,85,2018,01,01,Winter

##### 8.2.3 "Day of the week" ì»¬ëŸ¼ ìƒì„±

In [413]:
df_fin['Day of Week'] = pd.to_datetime(df_fin['Date']).dt.day_name()
df_fin.head()

,Datetime,Date,Hour,Wind Direction,Wind Speed(m/s),Atmospheric Pressure(hPa),Temperature(Â°C),Relative Humidity(%),Rainfall(mm),Average temperature per minute(Â°C),...,Minimum humidity per minute(%),Average atmospheric pressure(hPa),Highest atmospheric pressure(hPa),Minimum atmospheric pressure(hPa),Rent Bike Count,Year,Month,Day,Seasons,Day of Week
0,2018-01-01 00:00:00,2018-01-01,0,110.0,0.5,1015.4,-3.2,40.0,0.0,-2.9,...,41.6,1015.2,1015.4,1015.1,268,2018,01,01,Winter,Monday
1,2018-01-01 01:00:00,2018-01-01,1,360.0,0.7,1015.1,-3.3,41.0,0.0,-3.3,...,41.6,1015.3,1015.5,1015.1,304,2018,01,01,Winter,Monday
2,2018-01-01 02:00:00,2018-01-01,2,270.0,0.9,1015.2,-3.7,42.0,0.0,-3.4,...,45.9,1015.0,1015.2,1014.9,228,2018,01,01,Winter,Monday
3,2018-01-01 03:00:00,2018-01-01,3,290.0,1.0,1015.5,-4.0,44.0,0.0,-3.8,...,46.6,1015.4,1015.6,1015.2,148,2018,01,01,Winter,Monday
4,2018-01-01 04:00:00,2018-01-01,4,290.0,1.1,1015.5,-4.2,53.0,0.0,-4.0,...,52.7,1015.5,1015.5,1015.5,85,2018,01,01,Winter,Monday

##### 8.2.4 "Weekend" ì»¬ëŸ¼ ìƒì„±

In [414]:
def map_weekend(x):
    if x in ['Saturday', 'Sunday']:
        return 'Weekend'
    else:
        return 'Weekdays'

In [415]:
df_fin['Weekend'] = df_fin['Day of Week'].apply(lambda x: map_weekend(x))
df_fin.head()

,Datetime,Date,Hour,Wind Direction,Wind Speed(m/s),Atmospheric Pressure(hPa),Temperature(Â°C),Relative Humidity(%),Rainfall(mm),Average temperature per minute(Â°C),...,Average atmospheric pressure(hPa),Highest atmospheric pressure(hPa),Minimum atmospheric pressure(hPa),Rent Bike Count,Year,Month,Day,Seasons,Day of Week,Weekend
0,2018-01-01 00:00:00,2018-01-01,0,110.0,0.5,1015.4,-3.2,40.0,0.0,-2.9,...,1015.2,1015.4,1015.1,268,2018,01,01,Winter,Monday,Weekdays
1,2018-01-01 01:00:00,2018-01-01,1,360.0,0.7,1015.1,-3.3,41.0,0.0,-3.3,...,1015.3,1015.5,1015.1,304,2018,01,01,Winter,Monday,Weekdays
2,2018-01-01 02:00:00,2018-01-01,2,270.0,0.9,1015.2,-3.7,42.0,0.0,-3.4,...,1015.0,1015.2,1014.9,228,2018,01,01,Winter,Monday,Weekdays
3,2018-01-01 03:00:00,2018-01-01,3,290.0,1.0,1015.5,-4.0,44.0,0.0,-3.8,...,1015.4,1015.6,1015.2,148,2018,01,01,Winter,Monday,Weekdays
4,2018-01-01 04:00:00,2018-01-01,4,290.0,1.1,1015.5,-4.2,53.0,0.0,-4.0,...,1015.5,1015.5,1015.5,85,2018,01,01,Winter,Monday,Weekdays

##### 8.2.5 "Holiday" ì»¬ëŸ¼ ìƒì„±

In [416]:
import holidays

hol = holidays.KR()

df_fin['Holiday'] = df_fin['Date'].apply(lambda x: 'Holiday' if x in hol else 'No Holiday')
df_fin.head()

,Datetime,Date,Hour,Wind Direction,Wind Speed(m/s),Atmospheric Pressure(hPa),Temperature(Â°C),Relative Humidity(%),Rainfall(mm),Average temperature per minute(Â°C),...,Highest atmospheric pressure(hPa),Minimum atmospheric pressure(hPa),Rent Bike Count,Year,Month,Day,Seasons,Day of Week,Weekend,Holiday
0,2018-01-01 00:00:00,2018-01-01,0,110.0,0.5,1015.4,-3.2,40.0,0.0,-2.9,...,1015.4,1015.1,268,2018,01,01,Winter,Monday,Weekdays,Holiday
1,2018-01-01 01:00:00,2018-01-01,1,360.0,0.7,1015.1,-3.3,41.0,0.0,-3.3,...,1015.5,1015.1,304,2018,01,01,Winter,Monday,Weekdays,Holiday
2,2018-01-01 02:00:00,2018-01-01,2,270.0,0.9,1015.2,-3.7,42.0,0.0,-3.4,...,1015.2,1014.9,228,2018,01,01,Winter,Monday,Weekdays,Holiday
3,2018-01-01 03:00:00,2018-01-01,3,290.0,1.0,1015.5,-4.0,44.0,0.0,-3.8,...,1015.6,1015.2,148,2018,01,01,Winter,Monday,Weekdays,Holiday
4,2018-01-01 04:00:00,2018-01-01,4,290.0,1.1,1015.5,-4.2,53.0,0.0,-4.0,...,1015.5,1015.5,85,2018,01,01,Winter,Monday,Weekdays,Holiday

##### 8.2.5 ì»¬ëŸ¼ ìˆœì„œ ë³€ê²½

In [417]:
df_fin.columns

Index(['Datetime', 'Date', 'Hour', 'Wind Direction', 'Wind Speed(m/s)',
       'Atmospheric Pressure(hPa)', 'Temperature(Â°C)', 'Relative Humidity(%)',
       'Rainfall(mm)', 'Average temperature per minute(Â°C)',
       'Highest temperature per minute(Â°C)',
       'Lowest temperature per minute(Â°C)',
       'Maximum wind direction per minute(deg)',
       'Average wind speed per minute(m/s)',
       'Maximum wind speed per minute(m/s)', 'Average humidity per minute(%)',
       'Maximum humidity per minute(%)', 'Minimum humidity per minute(%)',
       'Average atmospheric pressure(hPa)',
       'Highest atmospheric pressure(hPa)',
       'Minimum atmospheric pressure(hPa)', 'Rent Bike Count', 'Year', 'Month',
       'Day', 'Seasons', 'Day of Week', 'Weekend', 'Holiday'],
      dtype='object')

In [418]:
# ì»¬ëŸ¼ ìˆœì„œ ë³€ê²½
df_fin = df_fin[['Datetime', 'Date', 'Year', 'Month', 'Day', 'Hour', 'Rent Bike Count',
                 'Temperature(Â°C)', 'Average temperature per minute(Â°C)', 
                 'Highest temperature per minute(Â°C)', 'Lowest temperature per minute(Â°C)',
                 'Rainfall(mm)', 'Wind Direction', 'Maximum wind direction per minute(deg)', 
                 'Wind Speed(m/s)', 'Average wind speed per minute(m/s)', 'Maximum wind speed per minute(m/s)',
                 'Relative Humidity(%)', 'Average humidity per minute(%)',
                 'Maximum humidity per minute(%)', 'Minimum humidity per minute(%)',
                 'Atmospheric Pressure(hPa)', 'Average atmospheric pressure(hPa)', 
                 'Highest atmospheric pressure(hPa)', 'Minimum atmospheric pressure(hPa)',
                 'Seasons', 'Day of Week', 'Weekend', 'Holiday']]

In [419]:
df_fin.head()

,Datetime,Date,Year,Month,Day,Hour,Rent Bike Count,Temperature(Â°C),Average temperature per minute(Â°C),Highest temperature per minute(Â°C),...,Maximum humidity per minute(%),Minimum humidity per minute(%),Atmospheric Pressure(hPa),Average atmospheric pressure(hPa),Highest atmospheric pressure(hPa),Minimum atmospheric pressure(hPa),Seasons,Day of Week,Weekend,Holiday
0,2018-01-01 00:00:00,2018-01-01,2018,01,01,0,268,-3.2,-2.9,-2.6,...,41.6,41.6,1015.4,1015.2,1015.4,1015.1,Winter,Monday,Weekdays,Holiday
1,2018-01-01 01:00:00,2018-01-01,2018,01,01,1,304,-3.3,-3.3,-3.2,...,41.6,41.6,1015.1,1015.3,1015.5,1015.1,Winter,Monday,Weekdays,Holiday
2,2018-01-01 02:00:00,2018-01-01,2018,01,01,2,228,-3.7,-3.4,-3.2,...,45.9,45.9,1015.2,1015.0,1015.2,1014.9,Winter,Monday,Weekdays,Holiday
3,2018-01-01 03:00:00,2018-01-01,2018,01,01,3,148,-4.0,-3.8,-3.8,...,46.6,46.6,1015.5,1015.4,1015.6,1015.2,Winter,Monday,Weekdays,Holiday
4,2018-01-01 04:00:00,2018-01-01,2018,01,01,4,85,-4.2,-4.0,-3.9,...,52.7,52.7,1015.5,1015.5,1015.5,1015.5,Winter,Monday,Weekdays,Holiday

### 9.ë°ì´í„°í”„ë ˆì„ì„ csv íŒŒì¼ë¡œ ì €ì¥í•˜ê¸°

#### 9.1 ì „ì²´ ë°ì´í„°í”„ë ˆì„ì„ csv íŒŒì¼ë¡œ ì €ì¥

In [420]:
df_fin.to_csv("../data/data_fin.csv")

#### 9.2 train, test dataset ë¶„ë¥˜
- ì¡°ê±´ 1 : ëŒ€ì—¬ê±´ìˆ˜ê°€ 0ì¸ ë°ì´í„°ë§Œ test_data
- ì¡°ê±´ 2 : ëŒ€ì—¬ê±´ìˆ˜ê°€ 200 ì´í•˜ì¸ ë°ì´í„°ë§Œ test_data

In [421]:
print(df_fin[df_fin["Rent Bike Count"] == 0]["Month"].value_counts())
print(df_fin[df_fin["Rent Bike Count"] <= 200]["Month"].value_counts())

08    1117
03     506
04     478
01     466
06     227
09      45
10       7
07       1
Name: Month, dtype: int64
08    1262
01    1103
03     787
04     744
02     535
06     337
05     244
12     180
09     177
07     159
11     107
10      87
Name: Month, dtype: int64

In [422]:
print(len(df_fin[df_fin["Rent Bike Count"] == 0]["Month"]))
print(len(df_fin[df_fin["Rent Bike Count"] <= 200]["Month"]))

2847
5722

##### 9.2.1 ëŒ€ì—¬ê±´ìˆ˜ê°€ 0ì¸ ì¡°ê±´ì„ í†µí•´ train, test dataset ë¶„ë¥˜

In [423]:
test_data = df_fin[df_fin["Rent Bike Count"] == 0]
train_data = df_fin[df_fin["Rent Bike Count"] != 0]

test_data.to_csv("../data/test_data/test_data(0).csv", index=False)
train_data.to_csv("../data/train_data/train_data(0).csv", index=False)

##### 9.2.2 ëŒ€ì—¬ê±´ìˆ˜ê°€ 200 ì´í•˜ì¸ ì¡°ê±´ì„ í†µí•´ train, test dataset ë¶„ë¥˜

In [424]:
test_data = df_fin[df_fin["Rent Bike Count"] <=200]
train_data = df_fin[df_fin["Rent Bike Count"] > 200]

test_data.to_csv("../data/test_data/test_data(200).csv", index=False)
train_data.to_csv("../data/train_data/train_data(200).csv", index=False)