# 📌 2018년 월별 데이터를 2018년 데이터로 합치기

In [ ]:
import numpy as np
import pandas as pd

### 1.데이터 불러오기

#### 1.1 vscode에서 데이터 불러오기

In [ ]:
# import json

# json_data = []
# with open("../rental_data/2018/1801.json", "r", encoding="utf-8") as f:
#   for line in f:
# 	  json_data.append(json.loads(line))

#### 1.2 colab에서 데이터 불러오기

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import json

json_data = []
with open("/content/drive/MyDrive/rental_history_data/2018/1801.json", "r", encoding="utf-8") as f:
  for line in f:
    json_data.append(json.loads(line))

### 2.데이터 확인하기

#### 2.1 json 데이터 구조 확인

In [ ]:
print(json_data[0].keys())
print(json_data[0]['rentData'].keys())
print(len(json_data))
print(json_data[0]['rentData']['row'])

dict_keys(['rentData'])
dict_keys(['list_total_count', 'RESULT', 'row'])
745

#### 2.2 json 데이터를 데이터프레임 형태로 확인

In [ ]:
json_df = pd.json_normalize(json_data[0]['rentData']['row'])
json_df.head()

,BIKE_ID,RENT_DT,RENT_ID,RENT_NM,RENT_HOLD,RTN_DT,RTN_ID,RTN_NM,RTN_HOLD,USE_MIN,USE_DST,USR_CLS_CD,SEX_CD,BIRTH_YEAR,RENT_STATION_ID,RETURN_STATION_ID,BIKE_SE_CD,START_INDEX,END_INDEX,RNUM
0,SPB-01217,2018-01-01 00:01:33,02003,사육신공원앞,8,2018-01-01 00:03:14,02003,사육신공원앞,8,1,0.00,USR_001,M,1990,ST-877,ST-877,LCD자전거,0,0,1
1,SPB-02041,2018-01-01 00:00:10,00227,양평2나들목 보행통로 입구,9,2018-01-01 00:04:03,00227,양평2나들목 보행통로 입구,9,3,50.00,USR_001,F,1990,ST-277,ST-277,LCD자전거,0,0,2
2,SPB-09976,2018-01-01 00:02:15,02248,서초리슈빌S 글로벌 앞,1,2018-01-01 00:05:48,02250,서초유치원 맞은편,10,3,950.00,USR_001,F,1982,ST-929,ST-881,LCD자전거,0,0,3
3,SPB-05713,2018-01-01 00:01:03,00361,동묘앞역 1번출구 뒤,4,2018-01-01 00:06:18,00383,신당역 12번 출구 뒤,8,4,850.00,USR_001,M,1984,ST-175,ST-198,LCD자전거,0,0,4
4,SPB-12909,2018-01-01 00:02:09,01125,명덕고교입구(영종빌딩),6,2018-01-01 00:06:45,01124,발산역 6번 출구 뒤,8,4,630.00,USR_001,M,1991,ST-835,ST-522,LCD자전거,0,0,5

#### 2.3 변수별 데이터 확인

In [ ]:
json_df['RENT_STATION_ID'].value_counts()

ST-840     13
ST-891     10
ST-542      8
ST-894      7
ST-99       7
           ..
ST-277      1
ST-1212     1
ST-6        1
ST-830      1
ST-506      1
Name: RENT_STATION_ID, Length: 161, dtype: int64

#### 2.4 1801.json 파일에 데이터 길이 확인

In [ ]:
len_count = []

for i in range(0,745):
    len_count.append(len(json_data[i]['rentData']['row']))

sum(len_count)

173906

### 3.2018년 1월 데이터 DataFrame으로 합치기

#### 3.1 하나의 데이터프레임으로 합치기

In [ ]:
i = 1

while i < len(json_data):
    df = pd.json_normalize(json_data[i]['rentData']['row'])
    json_df = pd.concat([json_df, df], axis=0)

    if len(df) != len(json_df):
        print(f"{i}번째 DataFrame concat 성공")

    i += 1

print("DataFrame concat 완료!!!")

1번째 DataFrame concat 성공
2번째 DataFrame concat 성공
3번째 DataFrame concat 성공
4번째 DataFrame concat 성공
5번째 DataFrame concat 성공
6번째 DataFrame concat 성공
7번째 DataFrame concat 성공
8번째 DataFrame concat 성공
9번째 DataFrame concat 성공
10번째 DataFrame concat 성공
11번째 DataFrame concat 성공
12번째 DataFrame concat 성공
13번째 DataFrame concat 성공
14번째 DataFrame concat 성공
15번째 DataFrame concat 성공
16번째 DataFrame concat 성공
17번째 DataFrame concat 성공
18번째 DataFrame concat 성공
19번째 DataFrame concat 성공
20번째 DataFrame concat 성공
21번째 DataFrame concat 성공
22번째 DataFrame concat 성공
23번째 DataFrame concat 성공
24번째 DataFrame concat 성공
25번째 DataFrame concat 성공
26번째 DataFrame concat 성공
27번째 DataFrame concat 성공
28번째 DataFrame concat 성공
29번째 DataFrame concat 성공
30번째 DataFrame concat 성공
31번째 DataFrame concat 성공
32번째 DataFrame concat 성공
33번째 DataFrame concat 성공
34번째 DataFrame concat 성공
35번째 DataFrame concat 성공
36번째 DataFrame concat 성공
37번째 DataFrame concat 성공
38번째 DataFrame concat 성공
39번째 DataFrame concat 성공
40번째 DataFrame concat 성공
41번째 DataFrame concat 성공
42번째 DataFrame concat 성공
43번째 DataFrame concat 성공
44번째 DataFrame concat 성공
45번째 DataFrame concat 성공
46번째 DataFrame concat 성공
47번째 DataFrame concat 성공
48번째 DataFrame concat 성공
49번째 DataFrame concat 성공
50번째 DataFrame concat 성공
51번째 DataFrame concat 성공
52번째 DataFrame concat 성공
53번째 DataFrame concat 성공
54번째 DataFrame concat 성공
55번째 DataFrame concat 성공
56번째 DataFrame concat 성공
57번째 DataFrame concat 성공
58번째 DataFrame concat 성공
59번째 DataFrame concat 성공
60번째 DataFrame concat 성공
61번째 DataFrame concat 성공
62번째 DataFrame concat 성공
63번째 DataFrame concat 성공
64번째 DataFrame concat 성공
65번째 DataFrame concat 성공
66번째 DataFrame concat 성공
67번째 DataFrame concat 성공
68번째 DataFrame concat 성공
69번째 DataFrame concat 성공
70번째 DataFrame concat 성공
71번째 DataFrame concat 성공
72번째 DataFrame concat 성공
73번째 DataFrame concat 성공
74번째 DataFrame concat 성공
75번째 DataFrame concat 성공
76번째 DataFrame concat 성공
77번째 DataFrame concat 성공
78번째 DataFrame concat 성공
79번째 DataFrame concat 성공
80번째 DataFrame concat 성공
81번째 DataFrame concat 성공
82번째 DataFrame concat 성공
83번째 DataFrame concat 성공
84번째 DataFrame concat 성공
85번째 DataFrame concat 성공
86번째 DataFrame concat 성공
87번째 DataFrame concat 성공
88번째 DataFrame concat 성공
89번째 DataFrame concat 성공
90번째 DataFrame concat 성공
91번째 DataFrame concat 성공
92번째 DataFrame concat 성공
93번째 DataFrame concat 성공
94번째 DataFrame concat 성공
95번째 DataFrame concat 성공
96번째 DataFrame concat 성공
97번째 DataFrame concat 성공
98번째 DataFrame concat 성공
99번째 DataFrame concat 성공
100번째 DataFrame concat 성공
101번째 DataFrame concat 성공
102번째 DataFrame concat 성공
103번째 DataFrame concat 성공
104번째 DataFrame concat 성공
105번째 DataFrame concat 성공
106번째 DataFrame concat 성공
107번째 DataFrame concat 성공
108번째 DataFrame concat 성공
109번째 DataFrame concat 성공
110번째 DataFrame concat 성공
111번째 DataFrame concat 성공
112번째 DataFrame concat 성공
113번째 DataFrame concat 성공
114번째 DataFrame concat 성공
115번째 DataFrame concat 성공
116번째 DataFrame concat 성공
117번째 DataFrame concat 성공
118번째 DataFrame concat 성공
119번째 DataFrame concat 성공
120번째 DataFrame concat 성공
121번째 DataFrame concat 성공
122번째 DataFrame concat 성공
123번째 DataFrame concat 성공
124번째 DataFrame concat 성공
125번째 DataFrame concat 성공
126번째 DataFrame concat 성공
127번째 DataFrame concat 성공
128번째 DataFrame concat 성공
129번째 DataFrame concat 성공
130번째 DataFrame concat 성공
131번째 DataFrame concat 성공
132번째 DataFrame concat 성공
133번째 DataFrame concat 성공
134번째 DataFrame concat 성공
135번째 DataFrame concat 성공
136번째 DataFrame concat 성공
137번째 DataFrame concat 성공
138번째 DataFrame concat 성공
139번째 DataFrame concat 성공
140번째 DataFrame concat 성공
141번째 DataFrame concat 성공
142번째 DataFrame concat 성공
143번째 DataFrame concat 성공
144번째 DataFrame concat 성공
145번째 DataFrame concat 성공
146번째 DataFrame concat 성공
147번째 DataFrame concat 성공
148번째 DataFrame concat 성공
149번째 DataFrame concat 성공
150번째 DataFrame concat 성공
151번째 DataFrame concat 성공
152번째 DataFrame concat 성공
153번째 DataFrame concat 성공
154번째 DataFrame concat 성공
155번째 DataFrame concat 성공
156번째 DataFrame concat 성공
157번째 DataFrame concat 성공
158번째 DataFrame concat 성공
159번째 DataFrame concat 성공
160번째 DataFrame concat 성공
161번째 DataFrame concat 성공
162번째 DataFrame concat 성공
163번째 DataFrame concat 성공
164번째 DataFrame concat 성공
165번째 DataFrame concat 성공
166번째 DataFrame concat 성공
167번째 DataFrame concat 성공
168번째 DataFrame concat 성공
169번째 DataFrame concat 성공
170번째 DataFrame concat 성공
171번째 DataFrame concat 성공
172번째 DataFrame concat 성공
173번째 DataFrame concat 성공
174번째 DataFrame concat 성공
175번째 DataFrame concat 성공
176번째 DataFrame concat 성공
177번째 DataFrame concat 성공
178번째 DataFrame concat 성공
179번째 DataFrame concat 성공
180번째 DataFrame concat 성공
181번째 DataFrame concat 성공
182번째 DataFrame concat 성공
183번째 DataFrame concat 성공
184번째 DataFrame concat 성공
185번째 DataFrame concat 성공
186번째 DataFrame concat 성공
187번째 DataFrame concat 성공
188번째 DataFrame concat 성공
189번째 DataFrame concat 성공
190번째 DataFrame concat 성공
191번째 DataFrame concat 성공
192번째 DataFrame concat 성공
193번째 DataFrame concat 성공
194번째 DataFrame concat 성공
195번째 DataFrame concat 성공
196번째 DataFrame concat 성공
197번째 DataFrame concat 성공
198번째 DataFrame concat 성공
199번째 DataFrame concat 성공
200번째 DataFrame concat 성공
201번째 DataFrame concat 성공
202번째 DataFrame concat 성공
203번째 DataFrame concat 성공
204번째 DataFrame concat 성공
205번째 DataFrame concat 성공
206번째 DataFrame concat 성공
207번째 DataFrame concat 성공
208번째 DataFrame concat 성공
209번째 DataFrame concat 성공
210번째 DataFrame concat 성공
211번째 DataFrame concat 성공
212번째 DataFrame concat 성공
213번째 DataFrame concat 성공
214번째 DataFrame concat 성공
215번째 DataFrame concat 성공
216번째 DataFrame concat 성공
217번째 DataFrame concat 성공
218번째 DataFrame concat 성공
219번째 DataFrame concat 성공
220번째 DataFrame concat 성공
221번째 DataFrame concat 성공
222번째 DataFrame concat 성공
223번째 DataFrame concat 성공
224번째 DataFrame concat 성공
225번째 DataFrame concat 성공
226번째 DataFrame concat 성공
227번째 DataFrame concat 성공
228번째 DataFrame concat 성공
229번째 DataFrame concat 성공
230번째 DataFrame concat 성공
231번째 DataFrame concat 성공
232번째 DataFrame concat 성공
233번째 DataFrame concat 성공
234번째 DataFrame concat 성공
235번째 DataFrame concat 성공
236번째 DataFrame concat 성공
237번째 DataFrame concat 성공
238번째 DataFrame concat 성공
239번째 DataFrame concat 성공
240번째 DataFrame concat 성공
241번째 DataFrame concat 성공
242번째 DataFrame concat 성공
243번째 DataFrame concat 성공
244번째 DataFrame concat 성공
245번째 DataFrame concat 성공
246번째 DataFrame concat 성공
247번째 DataFrame concat 성공
248번째 DataFrame concat 성공
249번째 DataFrame concat 성공
250번째 DataFrame concat 성공
251번째 DataFrame concat 성공
252번째 DataFrame concat 성공
253번째 DataFrame concat 성공
254번째 DataFrame concat 성공
255번째 DataFrame concat 성공
256번째 DataFrame concat 성공
257번째 DataFrame concat 성공
258번째 DataFrame concat 성공
259번째 DataFrame concat 성공
260번째 DataFrame concat 성공
261번째 DataFrame concat 성공
262번째 DataFrame concat 성공
263번째 DataFrame concat 성공
264번째 DataFrame concat 성공
265번째 DataFrame concat 성공
266번째 DataFrame concat 성공
267번째 DataFrame concat 성공
268번째 DataFrame concat 성공
269번째 DataFrame concat 성공
270번째 DataFrame concat 성공
271번째 DataFrame concat 성공
272번째 DataFrame concat 성공
273번째 DataFrame concat 성공
274번째 DataFrame concat 성공
275번째 DataFrame concat 성공
276번째 DataFrame concat 성공
277번째 DataFrame concat 성공
278번째 DataFrame concat 성공
279번째 DataFrame concat 성공
280번째 DataFrame concat 성공
281번째 DataFrame concat 성공
282번째 DataFrame concat 성공
283번째 DataFrame concat 성공
284번째 DataFrame concat 성공
285번째 DataFrame concat 성공
286번째 DataFrame concat 성공
287번째 DataFrame concat 성공
288번째 DataFrame concat 성공
289번째 DataFrame concat 성공
290번째 DataFrame concat 성공
291번째 DataFrame concat 성공
292번째 DataFrame concat 성공
293번째 DataFrame concat 성공
294번째 DataFrame concat 성공
295번째 DataFrame concat 성공
296번째 DataFrame concat 성공
297번째 DataFrame concat 성공
298번째 DataFrame concat 성공
299번째 DataFrame concat 성공
300번째 DataFrame concat 성공
301번째 DataFrame concat 성공
302번째 DataFrame concat 성공
303번째 DataFrame concat 성공
304번째 DataFrame concat 성공
305번째 DataFrame concat 성공
306번째 DataFrame concat 성공
307번째 DataFrame concat 성공
308번째 DataFrame concat 성공
309번째 DataFrame concat 성공
310번째 DataFrame concat 성공
311번째 DataFrame concat 성공
312번째 DataFrame concat 성공
313번째 DataFrame concat 성공
314번째 DataFrame concat 성공
315번째 DataFrame concat 성공
316번째 DataFrame concat 성공
317번째 DataFrame concat 성공
318번째 DataFrame concat 성공
319번째 DataFrame concat 성공
320번째 DataFrame concat 성공
321번째 DataFrame concat 성공
322번째 DataFrame concat 성공
323번째 DataFrame concat 성공
324번째 DataFrame concat 성공
325번째 DataFrame concat 성공
326번째 DataFrame concat 성공
327번째 DataFrame concat 성공
328번째 DataFrame concat 성공
329번째 DataFrame concat 성공
330번째 DataFrame concat 성공
331번째 DataFrame concat 성공
332번째 DataFrame concat 성공
333번째 DataFrame concat 성공
334번째 DataFrame concat 성공
335번째 DataFrame concat 성공
336번째 DataFrame concat 성공
337번째 DataFrame concat 성공
338번째 DataFrame concat 성공
339번째 DataFrame concat 성공
340번째 DataFrame concat 성공
341번째 DataFrame concat 성공
342번째 DataFrame concat 성공
343번째 DataFrame concat 성공
344번째 DataFrame concat 성공
345번째 DataFrame concat 성공
346번째 DataFrame concat 성공
347번째 DataFrame concat 성공
348번째 DataFrame concat 성공
349번째 DataFrame concat 성공
350번째 DataFrame concat 성공
351번째 DataFrame concat 성공
352번째 DataFrame concat 성공
353번째 DataFrame concat 성공
354번째 DataFrame concat 성공
355번째 DataFrame concat 성공
356번째 DataFrame concat 성공
357번째 DataFrame concat 성공
358번째 DataFrame concat 성공
359번째 DataFrame concat 성공
360번째 DataFrame concat 성공
361번째 DataFrame concat 성공
362번째 DataFrame concat 성공
363번째 DataFrame concat 성공
364번째 DataFrame concat 성공
365번째 DataFrame concat 성공
366번째 DataFrame concat 성공
367번째 DataFrame concat 성공
368번째 DataFrame concat 성공
369번째 DataFrame concat 성공
370번째 DataFrame concat 성공
371번째 DataFrame concat 성공
372번째 DataFrame concat 성공
373번째 DataFrame concat 성공
374번째 DataFrame concat 성공
375번째 DataFrame concat 성공
376번째 DataFrame concat 성공
377번째 DataFrame concat 성공
378번째 DataFrame concat 성공
379번째 DataFrame concat 성공
380번째 DataFrame concat 성공
381번째 DataFrame concat 성공
382번째 DataFrame concat 성공
383번째 DataFrame concat 성공
384번째 DataFrame concat 성공
385번째 DataFrame concat 성공
386번째 DataFrame concat 성공
387번째 DataFrame concat 성공
388번째 DataFrame concat 성공
389번째 DataFrame concat 성공
390번째 DataFrame concat 성공
391번째 DataFrame concat 성공
392번째 DataFrame concat 성공
393번째 DataFrame concat 성공
394번째 DataFrame concat 성공
395번째 DataFrame concat 성공
396번째 DataFrame concat 성공
397번째 DataFrame concat 성공
398번째 DataFrame concat 성공
399번째 DataFrame concat 성공
400번째 DataFrame concat 성공
401번째 DataFrame concat 성공
402번째 DataFrame concat 성공
403번째 DataFrame concat 성공
404번째 DataFrame concat 성공
405번째 DataFrame concat 성공
406번째 DataFrame concat 성공
407번째 DataFrame concat 성공
408번째 DataFrame concat 성공
409번째 DataFrame concat 성공
410번째 DataFrame concat 성공
411번째 DataFrame concat 성공
412번째 DataFrame concat 성공
413번째 DataFrame concat 성공
414번째 DataFrame concat 성공
415번째 DataFrame concat 성공
416번째 DataFrame concat 성공
417번째 DataFrame concat 성공
418번째 DataFrame concat 성공
419번째 DataFrame concat 성공
420번째 DataFrame concat 성공
421번째 DataFrame concat 성공
422번째 DataFrame concat 성공
423번째 DataFrame concat 성공
424번째 DataFrame concat 성공
425번째 DataFrame concat 성공
426번째 DataFrame concat 성공
427번째 DataFrame concat 성공
428번째 DataFrame concat 성공
429번째 DataFrame concat 성공
430번째 DataFrame concat 성공
431번째 DataFrame concat 성공
432번째 DataFrame concat 성공
433번째 DataFrame concat 성공
434번째 DataFrame concat 성공
435번째 DataFrame concat 성공
436번째 DataFrame concat 성공
437번째 DataFrame concat 성공
438번째 DataFrame concat 성공
439번째 DataFrame concat 성공
440번째 DataFrame concat 성공
441번째 DataFrame concat 성공
442번째 DataFrame concat 성공
443번째 DataFrame concat 성공
444번째 DataFrame concat 성공
445번째 DataFrame concat 성공
446번째 DataFrame concat 성공
447번째 DataFrame concat 성공
448번째 DataFrame concat 성공
449번째 DataFrame concat 성공
450번째 DataFrame concat 성공
451번째 DataFrame concat 성공
452번째 DataFrame concat 성공
453번째 DataFrame concat 성공
454번째 DataFrame concat 성공
455번째 DataFrame concat 성공
456번째 DataFrame concat 성공
457번째 DataFrame concat 성공
458번째 DataFrame concat 성공
459번째 DataFrame concat 성공
460번째 DataFrame concat 성공
461번째 DataFrame concat 성공
462번째 DataFrame concat 성공
463번째 DataFrame concat 성공
464번째 DataFrame concat 성공
465번째 DataFrame concat 성공
466번째 DataFrame concat 성공
467번째 DataFrame concat 성공
468번째 DataFrame concat 성공
469번째 DataFrame concat 성공
470번째 DataFrame concat 성공
471번째 DataFrame concat 성공
472번째 DataFrame concat 성공
473번째 DataFrame concat 성공
474번째 DataFrame concat 성공
475번째 DataFrame concat 성공
476번째 DataFrame concat 성공
477번째 DataFrame concat 성공
478번째 DataFrame concat 성공
479번째 DataFrame concat 성공
480번째 DataFrame concat 성공
481번째 DataFrame concat 성공
482번째 DataFrame concat 성공
483번째 DataFrame concat 성공
484번째 DataFrame concat 성공
485번째 DataFrame concat 성공
486번째 DataFrame concat 성공
487번째 DataFrame concat 성공
488번째 DataFrame concat 성공
489번째 DataFrame concat 성공
490번째 DataFrame concat 성공
491번째 DataFrame concat 성공
492번째 DataFrame concat 성공
493번째 DataFrame concat 성공
494번째 DataFrame concat 성공
495번째 DataFrame concat 성공
496번째 DataFrame concat 성공
497번째 DataFrame concat 성공
498번째 DataFrame concat 성공
499번째 DataFrame concat 성공
500번째 DataFrame concat 성공
501번째 DataFrame concat 성공
502번째 DataFrame concat 성공
503번째 DataFrame concat 성공
504번째 DataFrame concat 성공
505번째 DataFrame concat 성공
506번째 DataFrame concat 성공
507번째 DataFrame concat 성공
508번째 DataFrame concat 성공
509번째 DataFrame concat 성공
510번째 DataFrame concat 성공
511번째 DataFrame concat 성공
512번째 DataFrame concat 성공
513번째 DataFrame concat 성공
514번째 DataFrame concat 성공
515번째 DataFrame concat 성공
516번째 DataFrame concat 성공
517번째 DataFrame concat 성공
518번째 DataFrame concat 성공
519번째 DataFrame concat 성공
520번째 DataFrame concat 성공
521번째 DataFrame concat 성공
522번째 DataFrame concat 성공
523번째 DataFrame concat 성공
524번째 DataFrame concat 성공
525번째 DataFrame concat 성공
526번째 DataFrame concat 성공
527번째 DataFrame concat 성공
528번째 DataFrame concat 성공
529번째 DataFrame concat 성공
530번째 DataFrame concat 성공
531번째 DataFrame concat 성공
532번째 DataFrame concat 성공
533번째 DataFrame concat 성공
534번째 DataFrame concat 성공
535번째 DataFrame concat 성공
536번째 DataFrame concat 성공
537번째 DataFrame concat 성공
538번째 DataFrame concat 성공
539번째 DataFrame concat 성공
540번째 DataFrame concat 성공
541번째 DataFrame concat 성공
542번째 DataFrame concat 성공
543번째 DataFrame concat 성공
544번째 DataFrame concat 성공
545번째 DataFrame concat 성공
546번째 DataFrame concat 성공
547번째 DataFrame concat 성공
548번째 DataFrame concat 성공
549번째 DataFrame concat 성공
550번째 DataFrame concat 성공
551번째 DataFrame concat 성공
552번째 DataFrame concat 성공
553번째 DataFrame concat 성공
554번째 DataFrame concat 성공
555번째 DataFrame concat 성공
556번째 DataFrame concat 성공
557번째 DataFrame concat 성공
558번째 DataFrame concat 성공
559번째 DataFrame concat 성공
560번째 DataFrame concat 성공
561번째 DataFrame concat 성공
562번째 DataFrame concat 성공
563번째 DataFrame concat 성공
564번째 DataFrame concat 성공
565번째 DataFrame concat 성공
566번째 DataFrame concat 성공
567번째 DataFrame concat 성공
568번째 DataFrame concat 성공
569번째 DataFrame concat 성공
570번째 DataFrame concat 성공
571번째 DataFrame concat 성공
572번째 DataFrame concat 성공
573번째 DataFrame concat 성공
574번째 DataFrame concat 성공
575번째 DataFrame concat 성공
576번째 DataFrame concat 성공
577번째 DataFrame concat 성공
578번째 DataFrame concat 성공
579번째 DataFrame concat 성공
580번째 DataFrame concat 성공
581번째 DataFrame concat 성공
582번째 DataFrame concat 성공
583번째 DataFrame concat 성공
584번째 DataFrame concat 성공
585번째 DataFrame concat 성공
586번째 DataFrame concat 성공
587번째 DataFrame concat 성공
588번째 DataFrame concat 성공
589번째 DataFrame concat 성공
590번째 DataFrame concat 성공
591번째 DataFrame concat 성공
592번째 DataFrame concat 성공
593번째 DataFrame concat 성공
594번째 DataFrame concat 성공
595번째 DataFrame concat 성공
596번째 DataFrame concat 성공
597번째 DataFrame concat 성공
598번째 DataFrame concat 성공
599번째 DataFrame concat 성공
600번째 DataFrame concat 성공
601번째 DataFrame concat 성공
602번째 DataFrame concat 성공
603번째 DataFrame concat 성공
604번째 DataFrame concat 성공
605번째 DataFrame concat 성공
606번째 DataFrame concat 성공
607번째 DataFrame concat 성공
608번째 DataFrame concat 성공
609번째 DataFrame concat 성공
610번째 DataFrame concat 성공
611번째 DataFrame concat 성공
612번째 DataFrame concat 성공
613번째 DataFrame concat 성공
614번째 DataFrame concat 성공
615번째 DataFrame concat 성공
616번째 DataFrame concat 성공
617번째 DataFrame concat 성공
618번째 DataFrame concat 성공
619번째 DataFrame concat 성공
620번째 DataFrame concat 성공
621번째 DataFrame concat 성공
622번째 DataFrame concat 성공
623번째 DataFrame concat 성공
624번째 DataFrame concat 성공
625번째 DataFrame concat 성공
626번째 DataFrame concat 성공
627번째 DataFrame concat 성공
628번째 DataFrame concat 성공
629번째 DataFrame concat 성공
630번째 DataFrame concat 성공
631번째 DataFrame concat 성공
632번째 DataFrame concat 성공
633번째 DataFrame concat 성공
634번째 DataFrame concat 성공
635번째 DataFrame concat 성공
636번째 DataFrame concat 성공
637번째 DataFrame concat 성공
638번째 DataFrame concat 성공
639번째 DataFrame concat 성공
640번째 DataFrame concat 성공
641번째 DataFrame concat 성공
642번째 DataFrame concat 성공
643번째 DataFrame concat 성공
644번째 DataFrame concat 성공
645번째 DataFrame concat 성공
646번째 DataFrame concat 성공
647번째 DataFrame concat 성공
648번째 DataFrame concat 성공
649번째 DataFrame concat 성공
650번째 DataFrame concat 성공
651번째 DataFrame concat 성공
652번째 DataFrame concat 성공
653번째 DataFrame concat 성공
654번째 DataFrame concat 성공
655번째 DataFrame concat 성공
656번째 DataFrame concat 성공
657번째 DataFrame concat 성공
658번째 DataFrame concat 성공
659번째 DataFrame concat 성공
660번째 DataFrame concat 성공
661번째 DataFrame concat 성공
662번째 DataFrame concat 성공
663번째 DataFrame concat 성공
664번째 DataFrame concat 성공
665번째 DataFrame concat 성공
666번째 DataFrame concat 성공
667번째 DataFrame concat 성공
668번째 DataFrame concat 성공
669번째 DataFrame concat 성공
670번째 DataFrame concat 성공
671번째 DataFrame concat 성공
672번째 DataFrame concat 성공
673번째 DataFrame concat 성공
674번째 DataFrame concat 성공
675번째 DataFrame concat 성공
676번째 DataFrame concat 성공
677번째 DataFrame concat 성공
678번째 DataFrame concat 성공
679번째 DataFrame concat 성공
680번째 DataFrame concat 성공
681번째 DataFrame concat 성공
682번째 DataFrame concat 성공
683번째 DataFrame concat 성공
684번째 DataFrame concat 성공
685번째 DataFrame concat 성공
686번째 DataFrame concat 성공
687번째 DataFrame concat 성공
688번째 DataFrame concat 성공
689번째 DataFrame concat 성공
690번째 DataFrame concat 성공
691번째 DataFrame concat 성공
692번째 DataFrame concat 성공
693번째 DataFrame concat 성공
694번째 DataFrame concat 성공
695번째 DataFrame concat 성공
696번째 DataFrame concat 성공
697번째 DataFrame concat 성공
698번째 DataFrame concat 성공
699번째 DataFrame concat 성공
700번째 DataFrame concat 성공
701번째 DataFrame concat 성공
702번째 DataFrame concat 성공
703번째 DataFrame concat 성공
704번째 DataFrame concat 성공
705번째 DataFrame concat 성공
706번째 DataFrame concat 성공
707번째 DataFrame concat 성공
708번째 DataFrame concat 성공
709번째 DataFrame concat 성공
710번째 DataFrame concat 성공
711번째 DataFrame concat 성공
712번째 DataFrame concat 성공
713번째 DataFrame concat 성공
714번째 DataFrame concat 성공
715번째 DataFrame concat 성공
716번째 DataFrame concat 성공
717번째 DataFrame concat 성공
718번째 DataFrame concat 성공
719번째 DataFrame concat 성공
720번째 DataFrame concat 성공
721번째 DataFrame concat 성공
722번째 DataFrame concat 성공
723번째 DataFrame concat 성공
724번째 DataFrame concat 성공
725번째 DataFrame concat 성공
726번째 DataFrame concat 성공
727번째 DataFrame concat 성공
728번째 DataFrame concat 성공
729번째 DataFrame concat 성공
730번째 DataFrame concat 성공
731번째 DataFrame concat 성공
732번째 DataFrame concat 성공
733번째 DataFrame concat 성공
734번째 DataFrame concat 성공
735번째 DataFrame concat 성공
736번째 DataFrame concat 성공
737번째 DataFrame concat 성공
738번째 DataFrame concat 성공
739번째 DataFrame concat 성공
740번째 DataFrame concat 성공
741번째 DataFrame concat 성공
742번째 DataFrame concat 성공
743번째 DataFrame concat 성공
744번째 DataFrame concat 성공
DataFrame concat 완료!!!

#### 3.2 만든 데이터프레임 확인

In [ ]:
json_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173906 entries, 0 to 138
Data columns (total 20 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   BIKE_ID            173902 non-null  object
 1   RENT_DT            173906 non-null  object
 2   RENT_ID            173906 non-null  object
 3   RENT_NM            173906 non-null  object
 4   RENT_HOLD          173381 non-null  object
 5   RTN_DT             173906 non-null  object
 6   RTN_ID             173163 non-null  object
 7   RTN_NM             173163 non-null  object
 8   RTN_HOLD           172624 non-null  object
 9   USE_MIN            173906 non-null  object
 10  USE_DST            173906 non-null  object
 11  USR_CLS_CD         173727 non-null  object
 12  SEX_CD             169379 non-null  object
 13  BIRTH_YEAR         169073 non-null  object
 14  RENT_STATION_ID    173906 non-null  object
 15  RETURN_STATION_ID  173163 non-null  object
 16  BIKE_SE_CD         173902 non-null  object
 17  START_INDEX        173906 non-null  int64
 18  END_INDEX          173906 non-null  int64
 19  RNUM               173906 non-null  object
dtypes: int64(2), object(18)
memory usage: 27.9+ MB

#### 3.3 index 재설정

In [ ]:
json_df.reset_index(drop=True, inplace=True)

In [ ]:
json_df.tail()

,BIKE_ID,RENT_DT,RENT_ID,RENT_NM,RENT_HOLD,RTN_DT,RTN_ID,RTN_NM,RTN_HOLD,USE_MIN,USE_DST,USR_CLS_CD,SEX_CD,BIRTH_YEAR,RENT_STATION_ID,RETURN_STATION_ID,BIKE_SE_CD,START_INDEX,END_INDEX,RNUM
173901,SPB-02368,2018-02-01 00:34:08,01535,효성인텔리안 앞,3,2018-02-01 01:26:44,00602,장안동 사거리,10,52,11640.00,USR_001,M,1981,ST-1109,ST-262,LCD자전거,0,0,135
173902,SPB-08701,2018-02-01 00:41:01,00560,비전교회 앞,1,2018-02-01 01:36:18,00560,비전교회 앞,7,49,6490.00,USR_001,F,1959,ST-361,ST-361,LCD자전거,0,0,136
173903,SPB-05860,2018-02-01 00:56:47,00548,자양나들목,20,2018-02-01 01:39:05,00548,자양나들목,20,41,8010.00,USR_001,F,1993,ST-258,ST-258,LCD자전거,0,0,137
173904,SPB-10663,2018-02-01 00:09:48,00313,서울역 광장 파출소 옆,4,2018-02-01 01:53:00,00346,맥스타일 앞,1,99,6150.00,USR_002,NaN,NaN,ST-129,ST-162,LCD자전거,0,0,138
173905,SPB-11476,2018-02-01 00:29:25,02265,이수고가차도 남단,5,2018-02-01 02:03:19,02032,이수역 11번출구쪽,10,93,12910.00,USR_001,M,1990,ST-949,ST-923,LCD자전거,0,0,139

#### 3.4 2월 데이터 삭제

In [ ]:
df = json_df[json_df['RENT_DT'] <= "2018-02-01 00:00:00"]

### 4.시간대별 대여건수 구하기

#### 4.1 연월일시 형태로 데이터 타입 변환 - RENT_DT, RTN_DT

In [ ]:
df['RENT_DT'] = pd.to_datetime(df['RENT_DT'], format= '%Y-%m-%d %H:%M:%S')

df['RENT_DT'].head()

<ipython-input-14-1fd8a350e722>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['RENT_DT'] = pd.to_datetime(df['RENT_DT'], format= '%Y-%m-%d %H:%M:%S')

0   2018-01-01 00:01:33
1   2018-01-01 00:00:10
2   2018-01-01 00:02:15
3   2018-01-01 00:01:03
4   2018-01-01 00:02:09
Name: RENT_DT, dtype: datetime64[ns]

In [ ]:
df['RTN_DT'] = pd.to_datetime(df['RTN_DT'], format='%Y-%m-%d %H:%M:%S')

df['RTN_DT'].head()

<ipython-input-15-e701abd4a9d4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['RTN_DT'] = pd.to_datetime(df['RTN_DT'], format='%Y-%m-%d %H:%M:%S')

0   2018-01-01 00:03:14
1   2018-01-01 00:04:03
2   2018-01-01 00:05:48
3   2018-01-01 00:06:18
4   2018-01-01 00:06:45
Name: RTN_DT, dtype: datetime64[ns]

#### 4.2 대여일시와 반납일시 중복 확인

##### 4.2.1 대여일시 중복확인 및 삭제

In [ ]:
# 대여일시 중복 확인
df['RENT_DT'].value_counts()

2018-01-12 10:13:29    7
2018-01-05 18:34:28    4
2018-01-16 08:51:28    4
2018-01-02 13:06:56    4
2018-01-03 18:55:54    4
                      ..
2018-01-09 21:39:59    1
2018-01-09 21:59:38    1
2018-01-09 21:22:29    1
2018-01-09 21:47:45    1
2018-01-31 23:30:05    1
Name: RENT_DT, Length: 165809, dtype: int64

In [ ]:
# 대여일시 중복된 값 확인
df[df['RENT_DT'] == '2018-01-12 10:13:29']

,BIKE_ID,RENT_DT,RENT_ID,RENT_NM,RENT_HOLD,RTN_DT,RTN_ID,RTN_NM,RTN_HOLD,USE_MIN,USE_DST,USR_CLS_CD,SEX_CD,BIRTH_YEAR,RENT_STATION_ID,RETURN_STATION_ID,BIKE_SE_CD,START_INDEX,END_INDEX,RNUM
71137,SPB-11112,2018-01-12 10:13:29,00503,더샵스타시티 C동 앞,6,2018-01-12 10:13:46,00503,더샵스타시티 C동 앞,6,0,0.00,USR_001,F,1987,ST-100,ST-100,LCD자전거,0,0,1
71138,SPB-11112,2018-01-12 10:13:29,00503,더샵스타시티 C동 앞,6,2018-01-12 10:13:46,00503,더샵스타시티 C동 앞,6,0,0.00,USR_001,F,1987,ST-100,ST-100,LCD자전거,0,0,2
71139,SPB-11112,2018-01-12 10:13:29,00503,더샵스타시티 C동 앞,6,2018-01-12 10:13:47,00503,더샵스타시티 C동 앞,6,0,0.00,USR_001,F,1987,ST-100,ST-100,LCD자전거,0,0,3
71140,SPB-11112,2018-01-12 10:13:29,00503,더샵스타시티 C동 앞,6,2018-01-12 10:13:59,00503,더샵스타시티 C동 앞,6,0,0.00,USR_001,F,1987,ST-100,ST-100,LCD자전거,0,0,4
71141,SPB-11112,2018-01-12 10:13:29,00503,더샵스타시티 C동 앞,6,2018-01-12 10:13:59,00503,더샵스타시티 C동 앞,6,0,0.00,USR_001,F,1987,ST-100,ST-100,LCD자전거,0,0,5
71142,SPB-11112,2018-01-12 10:13:29,00503,더샵스타시티 C동 앞,6,2018-01-12 10:13:59,00503,더샵스타시티 C동 앞,6,0,0.00,USR_001,F,1987,ST-100,ST-100,LCD자전거,0,0,6
71143,SPB-11112,2018-01-12 10:13:29,00503,더샵스타시티 C동 앞,6,2018-01-12 10:15:43,00503,더샵스타시티 C동 앞,6,0,0.00,USR_001,F,1987,ST-100,ST-100,LCD자전거,0,0,7

In [ ]:
# 대여일시 중복이 있는 컬럼을 추가
df['DUP'] = df.duplicated(subset=['RENT_DT'], keep='first')

<ipython-input-18-6801e92acc4f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DUP'] = df.duplicated(subset=['RENT_DT'], keep='first')

In [ ]:
df_dup = df[df['DUP'] == True]

df_dup[df_dup['RENT_DT'] == '2018-01-12 10:13:29']
df_dup['RENT_DT'].value_counts()

2018-01-12 10:13:29    6
2018-01-03 18:27:06    3
2018-01-15 19:08:59    3
2018-01-09 08:17:43    3
2018-01-03 17:44:46    3
                      ..
2018-01-08 16:39:46    1
2018-01-08 16:37:12    1
2018-01-08 16:23:32    1
2018-01-08 16:18:30    1
2018-01-14 21:51:31    1
Name: RENT_DT, Length: 7634, dtype: int64

In [ ]:
# 대여일시가 중복된 데이터 삭제
df.drop_duplicates(subset=['RENT_DT'], keep='first', inplace=True)

<ipython-input-20-98b66389cadd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(subset=['RENT_DT'], keep='first', inplace=True)

In [ ]:
# 삭제 후, 중복된 데이터 있는지 확인
df['RENT_DT'].value_counts()

2018-01-01 00:01:33    1
2018-01-19 11:51:20    1
2018-01-19 12:01:05    1
2018-01-19 12:04:02    1
2018-01-19 12:05:37    1
                      ..
2018-01-09 18:06:06    1
2018-01-09 18:02:46    1
2018-01-09 18:06:41    1
2018-01-09 18:01:36    1
2018-01-31 23:30:05    1
Name: RENT_DT, Length: 165809, dtype: int64

##### 4.2.2 반납일시 중복확인

In [ ]:
df['RTN_DT'].value_counts()

2018-01-04 12:08:57    4
2018-01-11 08:54:24    4
2018-01-01 19:43:52    4
2018-01-19 16:14:44    4
2018-01-17 14:44:20    4
                      ..
2018-01-09 22:46:38    1
2018-01-09 22:46:46    1
2018-01-09 22:46:58    1
2018-01-09 22:46:59    1
2018-02-01 04:52:48    1
Name: RTN_DT, Length: 158714, dtype: int64

In [ ]:
df[df['RTN_DT'] == ' 2018-01-19 18:05:56']
df[df['RTN_DT'] == ' 2018-01-11 08:54:24']

,BIKE_ID,RENT_DT,RENT_ID,RENT_NM,RENT_HOLD,RTN_DT,RTN_ID,RTN_NM,RTN_HOLD,USE_MIN,...,USR_CLS_CD,SEX_CD,BIRTH_YEAR,RENT_STATION_ID,RETURN_STATION_ID,BIKE_SE_CD,START_INDEX,END_INDEX,RNUM,DUP
66249,SPB-12529,2018-01-11 08:49:05,00567,성수역 2번출구 앞,7,2018-01-11 08:54:24,00563,성동세무서 건너편,2,5,...,USR_001,M,1975,ST-368,ST-364,LCD자전거,0,0,386,False
66250,SPB-06139,2018-01-11 08:36:24,00176,명지대학교 도서관,8,2018-01-11 08:54:24,00108,서교동 사거리,1,17,...,USR_001,M,1985,ST-555,ST-10,LCD자전거,0,0,387,False
66251,SPB-06168,2018-01-11 08:49:52,01536,번동 두산위브 101동 옆,9,2018-01-11 08:54:24,01503,강북구청사거리(수유역 8번출구),3,4,...,USR_001,F,1977,ST-1110,ST-643,LCD자전거,0,0,388,False
66252,SPB-03720,2018-01-11 08:50:54,00506,금호 어울림 아파트 앞,4,2018-01-11 08:54:24,00578,성동세무서 부근,4,3,...,USR_001,M,1995,ST-103,ST-371,LCD자전거,0,0,389,False

##### 4.2.3 대여 대여소명과 반납 대여소명 중복 확인

In [ ]:
df[df['RENT_NM'] == df['RTN_NM']]

,BIKE_ID,RENT_DT,RENT_ID,RENT_NM,RENT_HOLD,RTN_DT,RTN_ID,RTN_NM,RTN_HOLD,USE_MIN,...,USR_CLS_CD,SEX_CD,BIRTH_YEAR,RENT_STATION_ID,RETURN_STATION_ID,BIKE_SE_CD,START_INDEX,END_INDEX,RNUM,DUP
0,SPB-01217,2018-01-01 00:01:33,02003,사육신공원앞,8,2018-01-01 00:03:14,02003,사육신공원앞,8,1,...,USR_001,M,1990,ST-877,ST-877,LCD자전거,0,0,1,False
1,SPB-02041,2018-01-01 00:00:10,00227,양평2나들목 보행통로 입구,9,2018-01-01 00:04:03,00227,양평2나들목 보행통로 입구,9,3,...,USR_001,F,1990,ST-277,ST-277,LCD자전거,0,0,2,False
8,SPB-10042,2018-01-01 00:09:53,01911,구로디지털단지역 앞,2,2018-01-01 00:10:19,01911,구로디지털단지역 앞,2,0,...,USR_001,M,1992,ST-668,ST-668,LCD자전거,0,0,9,False
14,SPB-12769,2018-01-01 00:19:01,00309,광화문역 6번출구 옆 B,10,2018-01-01 00:19:31,00309,광화문역 6번출구 옆 B,10,0,...,USR_003,NaN,NaN,ST-125,ST-125,LCD자전거,0,0,15,False
21,SPB-12247,2018-01-01 00:20:53,02113,관악동작견인차량보관소,8,2018-01-01 00:21:39,02113,관악동작견인차량보관소,8,0,...,USR_001,M,1986,ST-934,ST-934,LCD자전거,0,0,22,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173713,SPB-11220,2018-01-31 23:19:06,01204,거여역 3번출구,10,2018-01-31 23:46:19,01204,거여역 3번출구,10,25,...,USR_001,F,1989,ST-930,ST-930,LCD자전거,0,0,100,False
173714,SPB-00286,2018-01-31 23:46:23,01509,서울북부수도사업소,6,2018-01-31 23:46:44,01509,서울북부수도사업소,6,0,...,USR_001,M,1964,ST-859,ST-859,LCD자전거,0,0,101,False
173719,SPB-04845,2018-01-31 23:19:50,01215,올림픽공원역 1번출구 앞,14,2018-01-31 23:51:22,01215,올림픽공원역 1번출구 앞,14,31,...,USR_003,NaN,NaN,ST-544,ST-544,LCD자전거,0,0,106,False
173732,SPB-11147,2018-01-31 23:56:24,03507,어린이회관,2,2018-01-31 23:59:27,03507,어린이회관,15,2,...,USR_001,M,1990,ST-1192,ST-1192,LCD자전거,0,0,119,False
173753,SPB-11511,2018-01-31 23:24:26,00374,청구역 2번출구 앞,7,2018-02-01 00:12:11,00374,청구역 2번출구 앞,8,46,...,USR_001,M,1990,ST-189,ST-189,LCD자전거,0,0,140,False

##### 4.2.4 대여일시와 반납일시 중복 확인

In [ ]:
df[df['RENT_DT'] == df['RTN_DT']]

Empty DataFrame
Columns: [BIKE_ID, RENT_DT, RENT_ID, RENT_NM, RENT_HOLD, RTN_DT, RTN_ID, RTN_NM, RTN_HOLD, USE_MIN, USE_DST, USR_CLS_CD, SEX_CD, BIRTH_YEAR, RENT_STATION_ID, RETURN_STATION_ID, BIKE_SE_CD, START_INDEX, END_INDEX, RNUM, DUP]
Index: []

[0 rows x 21 columns]

##### 4.3 index 재설정

In [ ]:
df.reset_index(drop=True, inplace=True)

#### 4.3 컬럼별 정리

##### 4.3.1 필요없는 컬럼 삭제
- "RENT_HOLD", "RTN_HOLD", "START_INDEX", "END_INDEX", "RNUM", "DUP"

In [ ]:
df_1801 = df.drop(columns=["RENT_HOLD", "RTN_HOLD",
              "START_INDEX", "END_INDEX",
              "RNUM", "DUP"]).copy()

##### 4.3.2 컬럼별 데이터 타입 변환
- INTEGER : "USE_MIN", "BIRTH_YEAR"
- FLOAT : "USE_DST"

In [ ]:
df_1801.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165809 entries, 0 to 165808
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   BIKE_ID            165805 non-null  object
 1   RENT_DT            165809 non-null  datetime64[ns]
 2   RENT_ID            165809 non-null  object
 3   RENT_NM            165809 non-null  object
 4   RTN_DT             165809 non-null  datetime64[ns]
 5   RTN_ID             165117 non-null  object
 6   RTN_NM             165117 non-null  object
 7   USE_MIN            165809 non-null  object
 8   USE_DST            165809 non-null  object
 9   USR_CLS_CD         165638 non-null  object
 10  SEX_CD             161551 non-null  object
 11  BIRTH_YEAR         161264 non-null  object
 12  RENT_STATION_ID    165809 non-null  object
 13  RETURN_STATION_ID  165117 non-null  object
 14  BIKE_SE_CD         165805 non-null  object
dtypes: datetime64[ns](2), object(13)
memory usage: 19.0+ MB

In [ ]:
# integer - "USE_MIN" = "RTN_DT" - "RENT_DT" 계산 후, 데이터 타입 변환
df_1801["USE_MIN"] = (df_1801["RTN_DT"] - df_1801["RENT_DT"]).astype("int")

In [ ]:
# integer - "BIRTH_YEAR" null 값은 9999로 변환 후, 데이터 타입 변환
df_1801["BIRTH_YEAR"] = df_1801["BIRTH_YEAR"].fillna("9999").astype("int")

In [ ]:
df_1801[["USE_MIN", "BIRTH_YEAR"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165809 entries, 0 to 165808
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   USE_MIN     165809 non-null  int64
 1   BIRTH_YEAR  165809 non-null  int64
dtypes: int64(2)
memory usage: 2.5 MB

#### 4.4 연월일시 컬럼 생성

##### 4.4.1 컬럼 생성

In [ ]:
df_1801.columns

Index(['BIKE_ID', 'RENT_DT', 'RENT_ID', 'RENT_NM', 'RTN_DT', 'RTN_ID',
       'RTN_NM', 'USE_MIN', 'USE_DST', 'USR_CLS_CD', 'SEX_CD', 'BIRTH_YEAR',
       'RENT_STATION_ID', 'RETURN_STATION_ID', 'BIKE_SE_CD'],
      dtype='object')

In [ ]:
df_1801["Date"] = df_1801["RENT_DT"].dt.date
df_1801["Hour"] = df_1801["RENT_DT"].dt.hour

In [ ]:
df_1801[['Date', 'Hour']]

              Date  Hour
0       2018-01-01     0
1       2018-01-01     0
2       2018-01-01     0
3       2018-01-01     0
4       2018-01-01     0
...            ...   ...
165804  2018-01-31    23
165805  2018-01-31    23
165806  2018-01-31    23
165807  2018-01-31    23
165808  2018-01-31    23

[165809 rows x 2 columns]

##### 4.4.2 대여건수 컬럼 생성

In [ ]:
df_fin = df_1801.groupby(["Date","Hour"]).agg({"Hour":"count"})
df_fin

                 Hour
Date       Hour
2018-01-01 0      268
           1      304
           2      228
           3      148
           4       85
...               ...
2018-01-31 19     292
           20     253
           21     264
           22     209
           23     149

[744 rows x 1 columns]

In [ ]:
df_fin.rename(columns={"Hour":"Rent Bike Count"}, inplace=True)

In [ ]:
df_fin.reset_index()

           Date  Hour  Rent Bike Count
0    2018-01-01     0              268
1    2018-01-01     1              304
2    2018-01-01     2              228
3    2018-01-01     3              148
4    2018-01-01     4               85
..          ...   ...              ...
739  2018-01-31    19              292
740  2018-01-31    20              253
741  2018-01-31    21              264
742  2018-01-31    22              209
743  2018-01-31    23              149

[744 rows x 3 columns]

-----

# 📌 2018년 부터 2023년 까지 대여건수 csv 파일로 만들기

### 1. 데이터 불러오기

In [ ]:
import numpy as np
import pandas as pd

#### 1.1 vscode에서 불러오기

In [ ]:
def load_json(y1,y2,m1,m2):
    import json

    json_data = []
    with open(f"../rental_data/20{y1,y2}/{y1,y2,m1,m2}.json", "r", encoding="utf-8") as f:
        for line in f:
            json_data.append(json.loads(line))

In [ ]:
load_json(1,8,0,1)

#### 1.2 colab에서 불러오기

In [ ]:
def load_json(y1,y2,m1,m2):
    # google drive 마운트 실행
    from google.colab import drive
    drive.mount('/content/drive')

    # json 파일 읽기
    import json

    json_data = []
    with open(f"/content/drive/MyDrive/rental_history_data/20{y1,y2}/{y1,y2,m1,m2}.json", "r", encoding="utf-8") as f:
        for line in f:
            json_data.append(json.loads(line))

In [ ]:
load_json(1,8,0,1)

### 2. json 데이터를 DataFrame으로 만들기

#### 2.1 DataFrame으로 변환

In [ ]:
i = 1

while i < len(json_data):
    if json_data[i].keys() == {"rentData"}:
      df = pd.json_normalize(json_data[i]['rentData']['row'])
      json_df = pd.concat([json_df, df], axis=0)

      if len(df) != len(json_df):
        print(f"{i}번째 DataFrame concat 성공")

      i += 1
    else:
      i += 1

print("DataFrame concat 완료!!!")

1번째 DataFrame concat 성공
2번째 DataFrame concat 성공
3번째 DataFrame concat 성공
4번째 DataFrame concat 성공
5번째 DataFrame concat 성공
6번째 DataFrame concat 성공
7번째 DataFrame concat 성공
8번째 DataFrame concat 성공
9번째 DataFrame concat 성공
10번째 DataFrame concat 성공
11번째 DataFrame concat 성공
12번째 DataFrame concat 성공
13번째 DataFrame concat 성공
14번째 DataFrame concat 성공
15번째 DataFrame concat 성공
16번째 DataFrame concat 성공
17번째 DataFrame concat 성공
18번째 DataFrame concat 성공
19번째 DataFrame concat 성공
20번째 DataFrame concat 성공
21번째 DataFrame concat 성공
22번째 DataFrame concat 성공
23번째 DataFrame concat 성공
24번째 DataFrame concat 성공
25번째 DataFrame concat 성공
26번째 DataFrame concat 성공
27번째 DataFrame concat 성공
28번째 DataFrame concat 성공
29번째 DataFrame concat 성공
30번째 DataFrame concat 성공
31번째 DataFrame concat 성공
32번째 DataFrame concat 성공
33번째 DataFrame concat 성공
34번째 DataFrame concat 성공
35번째 DataFrame concat 성공
36번째 DataFrame concat 성공
37번째 DataFrame concat 성공
38번째 DataFrame concat 성공
39번째 DataFrame concat 성공
40번째 DataFrame concat 성공
41번째 DataFrame concat 성공
42번째 DataFrame concat 성공
43번째 DataFrame concat 성공
44번째 DataFrame concat 성공
45번째 DataFrame concat 성공
46번째 DataFrame concat 성공
47번째 DataFrame concat 성공
48번째 DataFrame concat 성공
49번째 DataFrame concat 성공
50번째 DataFrame concat 성공
51번째 DataFrame concat 성공
52번째 DataFrame concat 성공
53번째 DataFrame concat 성공
54번째 DataFrame concat 성공
55번째 DataFrame concat 성공
56번째 DataFrame concat 성공
57번째 DataFrame concat 성공
58번째 DataFrame concat 성공
59번째 DataFrame concat 성공
60번째 DataFrame concat 성공
61번째 DataFrame concat 성공
62번째 DataFrame concat 성공
63번째 DataFrame concat 성공
64번째 DataFrame concat 성공
65번째 DataFrame concat 성공
66번째 DataFrame concat 성공
67번째 DataFrame concat 성공
68번째 DataFrame concat 성공
69번째 DataFrame concat 성공
70번째 DataFrame concat 성공
71번째 DataFrame concat 성공
72번째 DataFrame concat 성공
73번째 DataFrame concat 성공
74번째 DataFrame concat 성공
75번째 DataFrame concat 성공
76번째 DataFrame concat 성공
77번째 DataFrame concat 성공
78번째 DataFrame concat 성공
79번째 DataFrame concat 성공
80번째 DataFrame concat 성공
81번째 DataFrame concat 성공
82번째 DataFrame concat 성공
83번째 DataFrame concat 성공
84번째 DataFrame concat 성공
85번째 DataFrame concat 성공
86번째 DataFrame concat 성공
87번째 DataFrame concat 성공
88번째 DataFrame concat 성공
89번째 DataFrame concat 성공
90번째 DataFrame concat 성공
91번째 DataFrame concat 성공
92번째 DataFrame concat 성공
93번째 DataFrame concat 성공
94번째 DataFrame concat 성공
95번째 DataFrame concat 성공
96번째 DataFrame concat 성공
97번째 DataFrame concat 성공
98번째 DataFrame concat 성공
99번째 DataFrame concat 성공
100번째 DataFrame concat 성공
101번째 DataFrame concat 성공
102번째 DataFrame concat 성공
103번째 DataFrame concat 성공
104번째 DataFrame concat 성공
105번째 DataFrame concat 성공
106번째 DataFrame concat 성공
107번째 DataFrame concat 성공
108번째 DataFrame concat 성공
109번째 DataFrame concat 성공
110번째 DataFrame concat 성공
111번째 DataFrame concat 성공
112번째 DataFrame concat 성공
113번째 DataFrame concat 성공
114번째 DataFrame concat 성공
115번째 DataFrame concat 성공
116번째 DataFrame concat 성공
117번째 DataFrame concat 성공
118번째 DataFrame concat 성공
119번째 DataFrame concat 성공
120번째 DataFrame concat 성공
121번째 DataFrame concat 성공
122번째 DataFrame concat 성공
123번째 DataFrame concat 성공
124번째 DataFrame concat 성공
125번째 DataFrame concat 성공
126번째 DataFrame concat 성공
127번째 DataFrame concat 성공
128번째 DataFrame concat 성공
129번째 DataFrame concat 성공
130번째 DataFrame concat 성공
131번째 DataFrame concat 성공
132번째 DataFrame concat 성공
133번째 DataFrame concat 성공
134번째 DataFrame concat 성공
135번째 DataFrame concat 성공
136번째 DataFrame concat 성공
137번째 DataFrame concat 성공
138번째 DataFrame concat 성공
139번째 DataFrame concat 성공
140번째 DataFrame concat 성공
141번째 DataFrame concat 성공
142번째 DataFrame concat 성공
143번째 DataFrame concat 성공
144번째 DataFrame concat 성공
145번째 DataFrame concat 성공
146번째 DataFrame concat 성공
147번째 DataFrame concat 성공
148번째 DataFrame concat 성공
149번째 DataFrame concat 성공
150번째 DataFrame concat 성공
151번째 DataFrame concat 성공
152번째 DataFrame concat 성공
153번째 DataFrame concat 성공
154번째 DataFrame concat 성공
155번째 DataFrame concat 성공
156번째 DataFrame concat 성공
157번째 DataFrame concat 성공
158번째 DataFrame concat 성공
159번째 DataFrame concat 성공
160번째 DataFrame concat 성공
161번째 DataFrame concat 성공
162번째 DataFrame concat 성공
163번째 DataFrame concat 성공
164번째 DataFrame concat 성공
165번째 DataFrame concat 성공
166번째 DataFrame concat 성공
167번째 DataFrame concat 성공
168번째 DataFrame concat 성공
169번째 DataFrame concat 성공
170번째 DataFrame concat 성공
171번째 DataFrame concat 성공
172번째 DataFrame concat 성공
173번째 DataFrame concat 성공
174번째 DataFrame concat 성공
175번째 DataFrame concat 성공
176번째 DataFrame concat 성공
177번째 DataFrame concat 성공
178번째 DataFrame concat 성공
179번째 DataFrame concat 성공
180번째 DataFrame concat 성공
181번째 DataFrame concat 성공
182번째 DataFrame concat 성공
183번째 DataFrame concat 성공
184번째 DataFrame concat 성공
185번째 DataFrame concat 성공
186번째 DataFrame concat 성공
187번째 DataFrame concat 성공
188번째 DataFrame concat 성공
189번째 DataFrame concat 성공
190번째 DataFrame concat 성공
191번째 DataFrame concat 성공
192번째 DataFrame concat 성공
193번째 DataFrame concat 성공
194번째 DataFrame concat 성공
195번째 DataFrame concat 성공
196번째 DataFrame concat 성공
197번째 DataFrame concat 성공
198번째 DataFrame concat 성공
199번째 DataFrame concat 성공
200번째 DataFrame concat 성공
201번째 DataFrame concat 성공
202번째 DataFrame concat 성공
203번째 DataFrame concat 성공
204번째 DataFrame concat 성공
205번째 DataFrame concat 성공
206번째 DataFrame concat 성공
207번째 DataFrame concat 성공
208번째 DataFrame concat 성공
209번째 DataFrame concat 성공
210번째 DataFrame concat 성공
211번째 DataFrame concat 성공
212번째 DataFrame concat 성공
213번째 DataFrame concat 성공
214번째 DataFrame concat 성공
215번째 DataFrame concat 성공
216번째 DataFrame concat 성공
217번째 DataFrame concat 성공
218번째 DataFrame concat 성공
219번째 DataFrame concat 성공
220번째 DataFrame concat 성공
221번째 DataFrame concat 성공
222번째 DataFrame concat 성공
223번째 DataFrame concat 성공
224번째 DataFrame concat 성공
225번째 DataFrame concat 성공
226번째 DataFrame concat 성공
227번째 DataFrame concat 성공
228번째 DataFrame concat 성공
229번째 DataFrame concat 성공
230번째 DataFrame concat 성공
231번째 DataFrame concat 성공
232번째 DataFrame concat 성공
233번째 DataFrame concat 성공
234번째 DataFrame concat 성공
235번째 DataFrame concat 성공
236번째 DataFrame concat 성공
237번째 DataFrame concat 성공
238번째 DataFrame concat 성공
239번째 DataFrame concat 성공
240번째 DataFrame concat 성공
241번째 DataFrame concat 성공
242번째 DataFrame concat 성공
243번째 DataFrame concat 성공
244번째 DataFrame concat 성공
245번째 DataFrame concat 성공
246번째 DataFrame concat 성공
247번째 DataFrame concat 성공
248번째 DataFrame concat 성공
249번째 DataFrame concat 성공
250번째 DataFrame concat 성공
251번째 DataFrame concat 성공
252번째 DataFrame concat 성공
253번째 DataFrame concat 성공
254번째 DataFrame concat 성공
255번째 DataFrame concat 성공
256번째 DataFrame concat 성공
257번째 DataFrame concat 성공
258번째 DataFrame concat 성공
259번째 DataFrame concat 성공
260번째 DataFrame concat 성공
261번째 DataFrame concat 성공
262번째 DataFrame concat 성공
263번째 DataFrame concat 성공
264번째 DataFrame concat 성공
265번째 DataFrame concat 성공
266번째 DataFrame concat 성공
267번째 DataFrame concat 성공
268번째 DataFrame concat 성공
269번째 DataFrame concat 성공
270번째 DataFrame concat 성공
271번째 DataFrame concat 성공
272번째 DataFrame concat 성공
273번째 DataFrame concat 성공
274번째 DataFrame concat 성공
275번째 DataFrame concat 성공
276번째 DataFrame concat 성공
277번째 DataFrame concat 성공
278번째 DataFrame concat 성공
279번째 DataFrame concat 성공
280번째 DataFrame concat 성공
281번째 DataFrame concat 성공
282번째 DataFrame concat 성공
283번째 DataFrame concat 성공
284번째 DataFrame concat 성공
285번째 DataFrame concat 성공
286번째 DataFrame concat 성공
287번째 DataFrame concat 성공
288번째 DataFrame concat 성공
289번째 DataFrame concat 성공
290번째 DataFrame concat 성공
291번째 DataFrame concat 성공
292번째 DataFrame concat 성공
293번째 DataFrame concat 성공
294번째 DataFrame concat 성공
295번째 DataFrame concat 성공
296번째 DataFrame concat 성공
297번째 DataFrame concat 성공
298번째 DataFrame concat 성공
299번째 DataFrame concat 성공
300번째 DataFrame concat 성공
301번째 DataFrame concat 성공
302번째 DataFrame concat 성공
303번째 DataFrame concat 성공
304번째 DataFrame concat 성공
305번째 DataFrame concat 성공
306번째 DataFrame concat 성공
307번째 DataFrame concat 성공
308번째 DataFrame concat 성공
309번째 DataFrame concat 성공
310번째 DataFrame concat 성공
311번째 DataFrame concat 성공
312번째 DataFrame concat 성공
313번째 DataFrame concat 성공
314번째 DataFrame concat 성공
315번째 DataFrame concat 성공
316번째 DataFrame concat 성공
317번째 DataFrame concat 성공
318번째 DataFrame concat 성공
319번째 DataFrame concat 성공
320번째 DataFrame concat 성공
321번째 DataFrame concat 성공
322번째 DataFrame concat 성공
323번째 DataFrame concat 성공
324번째 DataFrame concat 성공
325번째 DataFrame concat 성공
326번째 DataFrame concat 성공
327번째 DataFrame concat 성공
328번째 DataFrame concat 성공
329번째 DataFrame concat 성공
330번째 DataFrame concat 성공
331번째 DataFrame concat 성공
332번째 DataFrame concat 성공
333번째 DataFrame concat 성공
334번째 DataFrame concat 성공
335번째 DataFrame concat 성공
336번째 DataFrame concat 성공
337번째 DataFrame concat 성공
338번째 DataFrame concat 성공
339번째 DataFrame concat 성공
340번째 DataFrame concat 성공
341번째 DataFrame concat 성공
342번째 DataFrame concat 성공
343번째 DataFrame concat 성공
344번째 DataFrame concat 성공
345번째 DataFrame concat 성공
346번째 DataFrame concat 성공
347번째 DataFrame concat 성공
348번째 DataFrame concat 성공
349번째 DataFrame concat 성공
350번째 DataFrame concat 성공
351번째 DataFrame concat 성공
352번째 DataFrame concat 성공
353번째 DataFrame concat 성공
354번째 DataFrame concat 성공
355번째 DataFrame concat 성공
356번째 DataFrame concat 성공
357번째 DataFrame concat 성공
358번째 DataFrame concat 성공
359번째 DataFrame concat 성공
360번째 DataFrame concat 성공
361번째 DataFrame concat 성공
362번째 DataFrame concat 성공
363번째 DataFrame concat 성공
364번째 DataFrame concat 성공
365번째 DataFrame concat 성공
366번째 DataFrame concat 성공
367번째 DataFrame concat 성공
368번째 DataFrame concat 성공
369번째 DataFrame concat 성공
370번째 DataFrame concat 성공
371번째 DataFrame concat 성공
372번째 DataFrame concat 성공
373번째 DataFrame concat 성공
374번째 DataFrame concat 성공
375번째 DataFrame concat 성공
376번째 DataFrame concat 성공
377번째 DataFrame concat 성공
378번째 DataFrame concat 성공
379번째 DataFrame concat 성공
380번째 DataFrame concat 성공
381번째 DataFrame concat 성공
382번째 DataFrame concat 성공
383번째 DataFrame concat 성공
384번째 DataFrame concat 성공
385번째 DataFrame concat 성공
386번째 DataFrame concat 성공
387번째 DataFrame concat 성공
388번째 DataFrame concat 성공
389번째 DataFrame concat 성공
390번째 DataFrame concat 성공
391번째 DataFrame concat 성공
392번째 DataFrame concat 성공
393번째 DataFrame concat 성공
394번째 DataFrame concat 성공
395번째 DataFrame concat 성공
396번째 DataFrame concat 성공
397번째 DataFrame concat 성공
398번째 DataFrame concat 성공
399번째 DataFrame concat 성공
400번째 DataFrame concat 성공
401번째 DataFrame concat 성공
402번째 DataFrame concat 성공
403번째 DataFrame concat 성공
404번째 DataFrame concat 성공
405번째 DataFrame concat 성공
406번째 DataFrame concat 성공
407번째 DataFrame concat 성공
408번째 DataFrame concat 성공
409번째 DataFrame concat 성공
410번째 DataFrame concat 성공
411번째 DataFrame concat 성공
412번째 DataFrame concat 성공
413번째 DataFrame concat 성공
414번째 DataFrame concat 성공
415번째 DataFrame concat 성공
416번째 DataFrame concat 성공
417번째 DataFrame concat 성공
418번째 DataFrame concat 성공
419번째 DataFrame concat 성공
420번째 DataFrame concat 성공
421번째 DataFrame concat 성공
422번째 DataFrame concat 성공
423번째 DataFrame concat 성공
424번째 DataFrame concat 성공
425번째 DataFrame concat 성공
426번째 DataFrame concat 성공
427번째 DataFrame concat 성공
428번째 DataFrame concat 성공
429번째 DataFrame concat 성공
430번째 DataFrame concat 성공
431번째 DataFrame concat 성공
432번째 DataFrame concat 성공
433번째 DataFrame concat 성공
434번째 DataFrame concat 성공
435번째 DataFrame concat 성공
436번째 DataFrame concat 성공
437번째 DataFrame concat 성공
438번째 DataFrame concat 성공
439번째 DataFrame concat 성공
440번째 DataFrame concat 성공
441번째 DataFrame concat 성공
442번째 DataFrame concat 성공
443번째 DataFrame concat 성공
444번째 DataFrame concat 성공
445번째 DataFrame concat 성공
446번째 DataFrame concat 성공
447번째 DataFrame concat 성공
448번째 DataFrame concat 성공
449번째 DataFrame concat 성공
450번째 DataFrame concat 성공
451번째 DataFrame concat 성공
452번째 DataFrame concat 성공
453번째 DataFrame concat 성공
454번째 DataFrame concat 성공
455번째 DataFrame concat 성공
456번째 DataFrame concat 성공
457번째 DataFrame concat 성공
458번째 DataFrame concat 성공
459번째 DataFrame concat 성공
460번째 DataFrame concat 성공
461번째 DataFrame concat 성공
462번째 DataFrame concat 성공
463번째 DataFrame concat 성공
464번째 DataFrame concat 성공
465번째 DataFrame concat 성공
466번째 DataFrame concat 성공
467번째 DataFrame concat 성공
468번째 DataFrame concat 성공
469번째 DataFrame concat 성공
470번째 DataFrame concat 성공
471번째 DataFrame concat 성공
472번째 DataFrame concat 성공
473번째 DataFrame concat 성공
474번째 DataFrame concat 성공
475번째 DataFrame concat 성공
476번째 DataFrame concat 성공
477번째 DataFrame concat 성공
478번째 DataFrame concat 성공
479번째 DataFrame concat 성공
480번째 DataFrame concat 성공
481번째 DataFrame concat 성공
482번째 DataFrame concat 성공
483번째 DataFrame concat 성공
484번째 DataFrame concat 성공
485번째 DataFrame concat 성공
486번째 DataFrame concat 성공
487번째 DataFrame concat 성공
488번째 DataFrame concat 성공
489번째 DataFrame concat 성공
490번째 DataFrame concat 성공
491번째 DataFrame concat 성공
492번째 DataFrame concat 성공
493번째 DataFrame concat 성공
494번째 DataFrame concat 성공
495번째 DataFrame concat 성공
496번째 DataFrame concat 성공
497번째 DataFrame concat 성공
498번째 DataFrame concat 성공
499번째 DataFrame concat 성공
500번째 DataFrame concat 성공
501번째 DataFrame concat 성공
502번째 DataFrame concat 성공
503번째 DataFrame concat 성공
504번째 DataFrame concat 성공
505번째 DataFrame concat 성공
506번째 DataFrame concat 성공
507번째 DataFrame concat 성공
508번째 DataFrame concat 성공
509번째 DataFrame concat 성공
510번째 DataFrame concat 성공
511번째 DataFrame concat 성공
512번째 DataFrame concat 성공
513번째 DataFrame concat 성공
514번째 DataFrame concat 성공
515번째 DataFrame concat 성공
516번째 DataFrame concat 성공
517번째 DataFrame concat 성공
518번째 DataFrame concat 성공
519번째 DataFrame concat 성공
520번째 DataFrame concat 성공
521번째 DataFrame concat 성공
522번째 DataFrame concat 성공
523번째 DataFrame concat 성공
524번째 DataFrame concat 성공
525번째 DataFrame concat 성공
526번째 DataFrame concat 성공
527번째 DataFrame concat 성공
528번째 DataFrame concat 성공
529번째 DataFrame concat 성공
530번째 DataFrame concat 성공
531번째 DataFrame concat 성공
532번째 DataFrame concat 성공
533번째 DataFrame concat 성공
534번째 DataFrame concat 성공
535번째 DataFrame concat 성공
536번째 DataFrame concat 성공
537번째 DataFrame concat 성공
538번째 DataFrame concat 성공
539번째 DataFrame concat 성공
540번째 DataFrame concat 성공
541번째 DataFrame concat 성공
542번째 DataFrame concat 성공
543번째 DataFrame concat 성공
544번째 DataFrame concat 성공
545번째 DataFrame concat 성공
546번째 DataFrame concat 성공
547번째 DataFrame concat 성공
548번째 DataFrame concat 성공
549번째 DataFrame concat 성공
550번째 DataFrame concat 성공
551번째 DataFrame concat 성공
552번째 DataFrame concat 성공
553번째 DataFrame concat 성공
554번째 DataFrame concat 성공
555번째 DataFrame concat 성공
556번째 DataFrame concat 성공
557번째 DataFrame concat 성공
558번째 DataFrame concat 성공
559번째 DataFrame concat 성공
560번째 DataFrame concat 성공
561번째 DataFrame concat 성공
562번째 DataFrame concat 성공
563번째 DataFrame concat 성공
564번째 DataFrame concat 성공
565번째 DataFrame concat 성공
566번째 DataFrame concat 성공
567번째 DataFrame concat 성공
568번째 DataFrame concat 성공
569번째 DataFrame concat 성공
570번째 DataFrame concat 성공
571번째 DataFrame concat 성공
572번째 DataFrame concat 성공
573번째 DataFrame concat 성공
574번째 DataFrame concat 성공
575번째 DataFrame concat 성공
576번째 DataFrame concat 성공
577번째 DataFrame concat 성공
578번째 DataFrame concat 성공
579번째 DataFrame concat 성공
580번째 DataFrame concat 성공
581번째 DataFrame concat 성공
582번째 DataFrame concat 성공
583번째 DataFrame concat 성공
584번째 DataFrame concat 성공
585번째 DataFrame concat 성공
586번째 DataFrame concat 성공
587번째 DataFrame concat 성공
588번째 DataFrame concat 성공
589번째 DataFrame concat 성공
590번째 DataFrame concat 성공
591번째 DataFrame concat 성공
592번째 DataFrame concat 성공
593번째 DataFrame concat 성공
594번째 DataFrame concat 성공
595번째 DataFrame concat 성공
596번째 DataFrame concat 성공
597번째 DataFrame concat 성공
598번째 DataFrame concat 성공
599번째 DataFrame concat 성공
600번째 DataFrame concat 성공
601번째 DataFrame concat 성공
602번째 DataFrame concat 성공
603번째 DataFrame concat 성공
604번째 DataFrame concat 성공
605번째 DataFrame concat 성공
606번째 DataFrame concat 성공
607번째 DataFrame concat 성공
608번째 DataFrame concat 성공
609번째 DataFrame concat 성공
610번째 DataFrame concat 성공
611번째 DataFrame concat 성공
612번째 DataFrame concat 성공
613번째 DataFrame concat 성공
614번째 DataFrame concat 성공
615번째 DataFrame concat 성공
616번째 DataFrame concat 성공
617번째 DataFrame concat 성공
618번째 DataFrame concat 성공
619번째 DataFrame concat 성공
620번째 DataFrame concat 성공
621번째 DataFrame concat 성공
622번째 DataFrame concat 성공
623번째 DataFrame concat 성공
624번째 DataFrame concat 성공
625번째 DataFrame concat 성공
626번째 DataFrame concat 성공
627번째 DataFrame concat 성공
628번째 DataFrame concat 성공
629번째 DataFrame concat 성공
630번째 DataFrame concat 성공
631번째 DataFrame concat 성공
632번째 DataFrame concat 성공
633번째 DataFrame concat 성공
634번째 DataFrame concat 성공
635번째 DataFrame concat 성공
636번째 DataFrame concat 성공
637번째 DataFrame concat 성공
638번째 DataFrame concat 성공
639번째 DataFrame concat 성공
640번째 DataFrame concat 성공
641번째 DataFrame concat 성공
642번째 DataFrame concat 성공
643번째 DataFrame concat 성공
644번째 DataFrame concat 성공
645번째 DataFrame concat 성공
646번째 DataFrame concat 성공
647번째 DataFrame concat 성공
648번째 DataFrame concat 성공
649번째 DataFrame concat 성공
650번째 DataFrame concat 성공
651번째 DataFrame concat 성공
652번째 DataFrame concat 성공
653번째 DataFrame concat 성공
654번째 DataFrame concat 성공
655번째 DataFrame concat 성공
656번째 DataFrame concat 성공
657번째 DataFrame concat 성공
658번째 DataFrame concat 성공
659번째 DataFrame concat 성공
660번째 DataFrame concat 성공
661번째 DataFrame concat 성공
662번째 DataFrame concat 성공
663번째 DataFrame concat 성공
664번째 DataFrame concat 성공
665번째 DataFrame concat 성공
666번째 DataFrame concat 성공
667번째 DataFrame concat 성공
668번째 DataFrame concat 성공
669번째 DataFrame concat 성공
670번째 DataFrame concat 성공
671번째 DataFrame concat 성공
672번째 DataFrame concat 성공
673번째 DataFrame concat 성공
674번째 DataFrame concat 성공
675번째 DataFrame concat 성공
676번째 DataFrame concat 성공
677번째 DataFrame concat 성공
678번째 DataFrame concat 성공
679번째 DataFrame concat 성공
680번째 DataFrame concat 성공
681번째 DataFrame concat 성공
682번째 DataFrame concat 성공
683번째 DataFrame concat 성공
684번째 DataFrame concat 성공
685번째 DataFrame concat 성공
686번째 DataFrame concat 성공
687번째 DataFrame concat 성공
688번째 DataFrame concat 성공
689번째 DataFrame concat 성공
690번째 DataFrame concat 성공
691번째 DataFrame concat 성공
692번째 DataFrame concat 성공
693번째 DataFrame concat 성공
694번째 DataFrame concat 성공
695번째 DataFrame concat 성공
696번째 DataFrame concat 성공
697번째 DataFrame concat 성공
698번째 DataFrame concat 성공
699번째 DataFrame concat 성공
700번째 DataFrame concat 성공
701번째 DataFrame concat 성공
702번째 DataFrame concat 성공
703번째 DataFrame concat 성공
704번째 DataFrame concat 성공
705번째 DataFrame concat 성공
706번째 DataFrame concat 성공
707번째 DataFrame concat 성공
708번째 DataFrame concat 성공
709번째 DataFrame concat 성공
710번째 DataFrame concat 성공
711번째 DataFrame concat 성공
712번째 DataFrame concat 성공
713번째 DataFrame concat 성공
714번째 DataFrame concat 성공
715번째 DataFrame concat 성공
716번째 DataFrame concat 성공
717번째 DataFrame concat 성공
718번째 DataFrame concat 성공
719번째 DataFrame concat 성공
720번째 DataFrame concat 성공
721번째 DataFrame concat 성공
722번째 DataFrame concat 성공
723번째 DataFrame concat 성공
724번째 DataFrame concat 성공
725번째 DataFrame concat 성공
726번째 DataFrame concat 성공
727번째 DataFrame concat 성공
728번째 DataFrame concat 성공
729번째 DataFrame concat 성공
730번째 DataFrame concat 성공
731번째 DataFrame concat 성공
732번째 DataFrame concat 성공
733번째 DataFrame concat 성공
734번째 DataFrame concat 성공
735번째 DataFrame concat 성공
736번째 DataFrame concat 성공
737번째 DataFrame concat 성공
738번째 DataFrame concat 성공
739번째 DataFrame concat 성공
740번째 DataFrame concat 성공
741번째 DataFrame concat 성공
742번째 DataFrame concat 성공
743번째 DataFrame concat 성공
744번째 DataFrame concat 성공
DataFrame concat 완료!!!

#### 2.2 해당 월 데이터가 아닌 데이터를 삭제

In [ ]:
df = json_df[json_df['RENT_DT'] <= f"20{y1}{y2}-{m1}{m2}-01 00:00:00"]

### 3. 데이터 타입 변환하기

#### 3.1 대여일시 데이터 타입 변환

In [ ]:
df['RENT_DT'] = pd.to_datetime(df['RENT_DT'], format= '%Y-%m-%d %H:%M:%S')

<ipython-input-42-47b47ed7ad20>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['RENT_DT'] = pd.to_datetime(df['RENT_DT'], format= '%Y-%m-%d %H:%M:%S')

#### 3.2 반납일시 데이터 타입 변환

In [ ]:
df['RTN_DT'] = pd.to_datetime(df['RTN_DT'], format='%Y-%m-%d %H:%M:%S')

<ipython-input-43-6732e981e04f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['RTN_DT'] = pd.to_datetime(df['RTN_DT'], format='%Y-%m-%d %H:%M:%S')

### 4. 중복 데이터 삭제하기

#### 4.1 대여일시가 같은 데이터 삭제

In [ ]:
# 대여일시가 중복된 데이터 삭제
df.drop_duplicates(subset=['RENT_DT'], keep='first', inplace=True)

<ipython-input-44-98b66389cadd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(subset=['RENT_DT'], keep='first', inplace=True)

### 5. 대여건수 관련 컬럼 생성하기

#### 5.1 "Date", "Hour" 컬럼 생성

In [ ]:
df["Date"] = df["RENT_DT"].dt.date
df["Hour"] = df["RENT_DT"].dt.hour

<ipython-input-45-ec373ad6dc53>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Date"] = df["RENT_DT"].dt.date
<ipython-input-45-ec373ad6dc53>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Hour"] = df["RENT_DT"].dt.hour

#### 5.2 "Rent Bike Count" 컬럼 생성

In [ ]:
df_rent = df.groupby(["Date","Hour"]).agg({"Hour":"count"})

df_rent.rename(columns={"Hour":"Rent Bike Count"}, inplace=True)

### 6. 데이터 프레임 저장하기

In [ ]:
df_rent.reset_index(inplace=True)

#### 6.1 vscode에서 저장

In [ ]:
# def save_csv(y1,y2,m1,m2):
#     df_rent.to_csv(f"../rent_data/20{y1,y2}/{y1,y2,m1,m2}.csv", index=True)

NameError: name 'yyyy' is not defined

In [ ]:
# save_csv(1,8,0,1)

#### 6.2 colab에서 저장

In [ ]:
def save_csv(y1,y2,m1,m2):
    df_rent.to_csv(f"/content/drive/MyDrive/rent_history_data/20{y1,y2}/{y1,y2,m1,m2}.csv", index=True)

In [ ]:
save_csv(1,8,0,1)