In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 1.데이터 불러오기

### 1.1 서울 공유 자전거(케글)

#### 1.1.1 데이터 불러오기

In [2]:
df_kaggle = pd.read_csv('../data/SeoulBikeData.csv', encoding='cp949')
df_kaggle

,Date,Rented Bike Count,Hour,Temperature(캜),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(캜),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,01/12/2017,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,01/12/2017,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,01/12/2017,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,01/12/2017,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,01/12/2017,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,30/11/2018,1003,19,4.2,34,2.6,1894,-10.3,0.0,0.0,0.0,Autumn,No Holiday,Yes
8756,30/11/2018,764,20,3.4,37,2.3,2000,-9.9,0.0,0.0,0.0,Autumn,No Holiday,Yes
8757,30/11/2018,694,21,2.6,39,0.3,1968,-9.9,0.0,0.0,0.0,Autumn,No Holiday,Yes
8758,30/11/2018,712,22,2.1,41,1.0,1859,-9.8,0.0,0.0,0.0,Autumn,No Holiday,Yes
8759,30/11/2018,584,23,1.9,43,1.3,1909,-9.3,0.0,0.0,0.0,Autumn,No Holiday,Yes

In [4]:
df_kaggle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      8760 non-null   object
 1   Rented Bike Count         8760 non-null   int64
 2   Hour                      8760 non-null   int64
 3   Temperature(캜)            8760 non-null   float64
 4   Humidity(%)               8760 non-null   int64
 5   Wind speed (m/s)          8760 non-null   float64
 6   Visibility (10m)          8760 non-null   int64
 7   Dew point temperature(캜)  8760 non-null   float64
 8   Solar Radiation (MJ/m2)   8760 non-null   float64
 9   Rainfall(mm)              8760 non-null   float64
 10  Snowfall (cm)             8760 non-null   float64
 11  Seasons                   8760 non-null   object
 12  Holiday                   8760 non-null   object
 13  Functioning Day           8760 non-null   object
dtypes: float64(6), int64(4), object(4)
memory usage: 958.2+ KB

In [31]:
df_kaggle[df_kaggle['Date'] == '01/01/2018']['Rented Bike Count']

4290

#### 1.1.2 결측치 확인하기

In [7]:
df_kaggle.isnull().sum()

Date                        0
Rented Bike Count           0
Hour                        0
Temperature(캜)              0
Humidity(%)                 0
Wind speed (m/s)            0
Visibility (10m)            0
Dew point temperature(캜)    0
Solar Radiation (MJ/m2)     0
Rainfall(mm)                0
Snowfall (cm)               0
Seasons                     0
Holiday                     0
Functioning Day             0
dtype: int64

#### 1.1.3 컬럼명 확인하기

In [8]:
df_kaggle.columns

Index(['Date', 'Rented Bike Count', 'Hour', 'Temperature(캜)', 'Humidity(%)',
       'Wind speed (m/s)', 'Visibility (10m)', 'Dew point temperature(캜)',
       'Solar Radiation (MJ/m2)', 'Rainfall(mm)', 'Snowfall (cm)', 'Seasons',
       'Holiday', 'Functioning Day'],
      dtype='object')

### 1.2 공공자전거 대여건수 데이터(열린데이터)

#### 1.2.1 데이터 불러오기

##### 23.01 ~ 23.06

In [11]:
df_day_rental1 = pd.read_csv('../data/서울특별시 공공자전거 일별 대여건수_23.1-6.csv', encoding='cp949')
df_day_rental1

           대여일시       대여건수  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5
0    2023-01-01    38,037          NaN         NaN         NaN         NaN
1    2023-01-02    56,609          NaN         NaN         NaN         NaN
2    2023-01-03    61,252          NaN         NaN         NaN         NaN
3    2023-01-04    67,721          NaN         NaN         NaN         NaN
4    2023-01-05    68,711          NaN         NaN         NaN         NaN
..          ...        ...         ...         ...         ...         ...
175  2023-06-25   133,566          NaN         NaN         NaN         NaN
176  2023-06-27   179,792          NaN         NaN         NaN         NaN
177  2023-06-28   185,929          NaN         NaN         NaN         NaN
178  2023-06-29    35,326          NaN         NaN         NaN         NaN
179  2023-06-30   155,252          NaN         NaN         NaN         NaN

[180 rows x 6 columns]

##### 22.07 ~ 22.12

In [19]:
df_day_rental2 = pd.read_csv('../data/서울특별시 공공자전거 일별 대여건수_22.07-22.12.csv', encoding='cp949')
df_day_rental2 = df_day_rental2[:184]

In [20]:
df_day_rental2

           대여일시       대여건수  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5
0    2022-07-01   157,478          NaN         NaN         NaN         NaN
1    2022-07-02   131,815          NaN         NaN         NaN         NaN
2    2022-07-03   114,470          NaN         NaN         NaN         NaN
3    2022-07-04   151,497          NaN         NaN         NaN         NaN
4    2022-07-05   149,259          NaN         NaN         NaN         NaN
..          ...        ...         ...         ...         ...         ...
179  2022-12-27    58,890          NaN         NaN         NaN         NaN
180  2022-12-28    54,012          NaN         NaN         NaN         NaN
181  2022-12-29    57,393          NaN         NaN         NaN         NaN
182  2022-12-30    56,058          NaN         NaN         NaN         NaN
183  2022-12-31    42,347          NaN         NaN         NaN         NaN

[184 rows x 6 columns]

##### 22.01 ~ 22.06

In [24]:
df_day_rental3 = pd.read_csv('../data/서울특별시 공공자전거 일별 대여건수_22.01-22.06.csv', encoding='cp949')
df_day_rental3 = df_day_rental3[:181]

In [25]:
df_day_rental3

           대여일시       대여건수  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5
0    2022-01-01    29,185          NaN         NaN         NaN         NaN
1    2022-01-02    28,914          NaN         NaN         NaN         NaN
2    2022-01-03    53,573          NaN         NaN         NaN         NaN
3    2022-01-04    56,344          NaN         NaN         NaN         NaN
4    2022-01-05    57,413          NaN         NaN         NaN         NaN
..          ...        ...         ...         ...         ...         ...
176  2022-06-26   122,474          NaN         NaN         NaN         NaN
177  2022-06-27    94,761          NaN         NaN         NaN         NaN
178  2022-06-28   112,003          NaN         NaN         NaN         NaN
179  2022-06-29    52,664          NaN         NaN         NaN         NaN
180  2022-06-30     8,796          NaN         NaN         NaN         NaN

[181 rows x 6 columns]

### 1.3 공공자전거 대여소 정보 데이터(열린데이터)

#### 1.3.1 데이터 불러오기

In [5]:
df_rental_shop = pd.read_csv('../data/공공자전거 대여소 정보(23.06월 기준).csv', encoding='cp949')
df_rental_shop

,대여소\n번호,보관소(대여소)명,소재지(위치),Unnamed: 3,Unnamed: 4,Unnamed: 5,설치\n시기,설치형태,Unnamed: 8,운영\n방식,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LCD,QR,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,자치구,상세주소,위도,경도,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,거치\n대수,거치\n대수,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,301.0,경복궁역 7번출구 앞,종로구,서울특별시 종로구 사직로 지하130 경복궁역 7번출구 앞,37.57579422,126.9714508,2015-10-07,20,20,QR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2748,3699.0,상일파출소 옆,강동구,강동구 상일동 520-1,37.55655289,127.1658783,2022-06-21,NaN,15,QR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2749,3700.0,강변그대가리버뷰 입구 맞은편,강동구,강동구 천호동 250-7,37.54816437,127.1225739,2022-07-08,NaN,8,QR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2750,3701.0,방아삼거리,강동구,강동구 둔촌동 118-2,37.5232811,127.1461334,2022-10-12,NaN,8,QR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2751,4951.0,강동농협 버스정류소 앞(광채빌라),강동구,강동구 암사동 488-21,37.547966,127.1351624,2022-09-29,NaN,5,QR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2752,4952.0,천호시장 버스정류소 옆,강동구,강동구 천호동 397-465,37.54146576,127.1302567,2023-01-18,NaN,5,QR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_rental_shop.columns

Index(['대여소\n번호', '보관소(대여소)명', '소재지(위치)', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', '설치\n시기', '설치형태', 'Unnamed: 8', '운영\n방식', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20'],
      dtype='object')

In [7]:
df_rental_shop.isnull().sum()

대여소\n번호           4
보관소(대여소)명         4
소재지(위치)           3
Unnamed: 3        3
Unnamed: 4        3
Unnamed: 5        3
설치\n시기            4
설치형태           1436
Unnamed: 8     1169
운영\n방식            4
Unnamed: 10    2753
Unnamed: 11    2753
Unnamed: 12    2753
Unnamed: 13    2753
Unnamed: 14    2753
Unnamed: 15    2753
Unnamed: 16    2753
Unnamed: 17    2753
Unnamed: 18    2753
Unnamed: 19    2753
Unnamed: 20    2753
dtype: int64

In [13]:
#df_rental_shop['Unnamed: 8'].value_counts()
df_rental_shop['설치형태'].value_counts()
df_rental_shop['설치\n시기'].value_counts()

2017-11-01    172
2016-06-29    126
2016-07-06     87
2017-11-28     75
2015-10-07     70
             ...
2020-09-16      1
2021-09-14      1
2019-01-02      1
2021-05-27      1
2023-01-18      1
Name: 설치\n시기, Length: 494, dtype: int64

In [18]:
df_rental_shop.drop(columns=['Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20'], inplace=True)

In [20]:
df_rental_shop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2753 entries, 0 to 2752
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   대여소
번호      2749 non-null   float64
 1   보관소(대여소)명   2749 non-null   object
 2   소재지(위치)     2750 non-null   object
 3   Unnamed: 3  2750 non-null   object
 4   Unnamed: 4  2750 non-null   object
 5   Unnamed: 5  2750 non-null   object
 6   설치
시기       2749 non-null   object
 7   설치형태        1317 non-null   object
 8   Unnamed: 8  1584 non-null   object
 9   운영
방식       2749 non-null   object
dtypes: float64(1), object(9)
memory usage: 215.2+ KB

In [21]:
df_rental_shop.rename(columns={'Unnamed: 3':'상세주소', 'Unnamed: 4':'위도', 
                               'Unnamed: 5':'경도', 'Unnamed: 8':'거치\n대수'}, 
                        inplace=True)

In [22]:
df_rental_shop

,대여소\n번호,보관소(대여소)명,소재지(위치),상세주소,위도,경도,설치\n시기,설치형태,거치\n대수,운영\n방식
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LCD,QR,NaN
1,NaN,NaN,자치구,상세주소,위도,경도,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,거치\n대수,거치\n대수,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,301.0,경복궁역 7번출구 앞,종로구,서울특별시 종로구 사직로 지하130 경복궁역 7번출구 앞,37.57579422,126.9714508,2015-10-07,20,20,QR
...,...,...,...,...,...,...,...,...,...,...
2748,3699.0,상일파출소 옆,강동구,강동구 상일동 520-1,37.55655289,127.1658783,2022-06-21,NaN,15,QR
2749,3700.0,강변그대가리버뷰 입구 맞은편,강동구,강동구 천호동 250-7,37.54816437,127.1225739,2022-07-08,NaN,8,QR
2750,3701.0,방아삼거리,강동구,강동구 둔촌동 118-2,37.5232811,127.1461334,2022-10-12,NaN,8,QR
2751,4951.0,강동농협 버스정류소 앞(광채빌라),강동구,강동구 암사동 488-21,37.547966,127.1351624,2022-09-29,NaN,5,QR
2752,4952.0,천호시장 버스정류소 옆,강동구,강동구 천호동 397-465,37.54146576,127.1302567,2023-01-18,NaN,5,QR

In [29]:
df_rental_shop['거치\n대수'].isnull().sum()

1169

In [36]:
df_rental_shop['운영\n방식'].isnull().sum()

4